.dropdown-menu>li>a{
    white-space:inherit
}
*,input,:before,:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
html{
    overflow-x:hidden
}
html,body{
    padding:0;
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    height:auto
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"]{
    border:1px solid #e9e9e9;
    color:#1c1c1c;
    margin:0 0 19px;
    min-height:40px;
    padding:0 20px
}
a{
    color:#0657a3
}
a:hover{
    color:#51aa1b
}
.remove{
    color:#999;
    font-size:1em
}
.remove:hover{
    color:#51aa1b
}
.dropdown-menu{
    box-shadow:none
}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover{
    background:none
}
body,input,textarea,button,select{
    line-height:1.7;
    color:#333;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    letter-spacing:0.25px
}
body{
    font-size:14px;
    color:#333
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    line-height:1.4
}
h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a,h6 a,.h6 a{
    text-decoration:none;
    font-weight:inherit
}
a{
    -webkit-transition:all 150ms ease-in-out;
    -moz-transition:all 150ms ease-in-out;
    -ms-transition:all 150ms ease-in-out;
    -o-transition:all 150ms ease-in-out;
    transition:all 150ms ease-in-out
}
a:focus{
    outline:none
}
h1,.h1{
    font-size:2.57143em
}
h2,.h2{
    font-size:2em
}
h3,.h3{
    font-size:1.71429em
}
h4,.h4{
    font-size:1.28571em
}
h5,.h5{
    font-size:1.14286em
}
h6,.h6{
    font-size:1.14286em
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,.h1,.h2,.h3,.h4,.h5,.h6{
    color:#1c1c1c;
    letter-spacing:.01em
}
p{
    margin:0 0 15px 0
}
p img{
    margin:0
}
em{
    font-style:italic
}
b,strong{
    font-weight:bold
}
small{
    font-size:0.9em
}
sup,sub{
    position:relative;
    font-size:60%;
    vertical-align:baseline
}
sup{
    top:-0.5em
}
sub{
    bottom:-0.5em
}
blockquote{
    font-size:1.125em;
    line-height:1.45;
    font-style:italic;
    margin:0 0 30px;
    padding:15px 30px;
    border-left:1px solid #e1e1e1
}
blockquote p{
    margin-bottom:0
}
blockquote p+cite{
    margin-top:15px
}
blockquote cite{
    display:block;
    font-size:0.75em
}
blockquote cite:before{
    content:"\2014 \0020"
}
code,pre{
    background-color:#faf7f5;
    font-family:Consolas,monospace;
    font-size:1em;
    border:0 none;
    padding:0 2px;
    color:#51ab62
}
pre{
    overflow:auto;
    padding:15px;
    margin:0 0 30px
}
ul,ol{
    margin:0;
    padding:0
}
ul{
    list-style:none inside
}
ol{
    list-style:decimal inside
}
ul.square,.rte ul ul ul{
    list-style:square inside
}
ul.disc,.rte ul{
    list-style:disc inside
}
ol.alpha{
    list-style:lower-alpha inside
}
.inline-list li{
    display:inline-block;
    margin-bottom:0
}
table{
    width:100%;
    margin-bottom:1em;
    border-collapse:collapse;
    border-spacing:0
}
.table-wrap{
    max-width:100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch
}
th{
    font-weight:bold
}
th,td{
    text-align:left;
    padding:15px;
    border:1px solid #e1e1e1;
    color:#1c1c1c
}
a,.text-link{
    color:#0657a3;
    text-decoration:none;
    background:transparent
}
button{
    overflow:visible
}
button[disabled],html input[disabled]{
    cursor:default
}
img{
    border:0 none;
    max-width:100%;
    height:auto
}
svg:not(:root){
    overflow:hidden
}
.video-wrapper{
    position:relative;
    overflow:hidden;
    max-width:100%;
    padding-bottom:56.25%;
    height:0;
    height:auto
}
.video-wrapper iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.table-wrapper{
    max-width:100%;
    overflow:auto
}
form{
    margin-bottom:30px
}
form a{
    color:#0657a3
}
input,textarea,button,select{
    font-size:1em
}
input:focus,textarea:focus,button:focus,select:focus{
    outline:none
}
button,input[type="text"],input[type="search"],input[type="password"],input[type="email"],input[type="file"],input[type="number"],input[type="tel"],input[type="submit"],textarea{
    -webkit-appearance:none;
    -moz-appearance:none
}
input,textarea,select,fieldset{
    border-radius:0;
    max-width:100%
}
input.input-full,textarea.input-full,select.input-full,fieldset.input-full{
    width:100%
}
fieldset{
    border:0px solid #e1e1e1;
    padding:15px
}
legend{
    border:0;
    padding:0
}
optgroup{
    font-weight:bold
}
input{
    display:inline-block;
    width:auto
}
button,input[type="submit"]{
    cursor:pointer
}
input[type="text"],input[type="search"],input[type="password"],input[type="email"],input[type="file"],input[type="number"],input[type="tel"],textarea,select{
    border:1px solid #e1e1e1;
    padding:0 20px;
    width:100%;
    max-width:100%;
    display:block
}
input[type="text"]:focus,input[type="search"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="file"]:focus,input[type="number"]:focus,input[type="tel"]:focus,textarea:focus,select:focus{
    border:1px solid #c8c8c8
}
input[type="text"][disabled],input[type="text"].disabled,input[type="search"][disabled],input[type="search"].disabled,input[type="password"][disabled],input[type="password"].disabled,input[type="email"][disabled],input[type="email"].disabled,input[type="file"][disabled],input[type="file"].disabled,input[type="number"][disabled],input[type="number"].disabled,input[type="tel"][disabled],input[type="tel"].disabled,textarea[disabled],textarea.disabled,select[disabled],select.disabled{
    cursor:default;
    background-color:#ddd;
    border-color:#ddd
}
textarea{
    min-height:100px;
    padding-top:6px;
    padding-bottom:6px
}
input[type="checkbox"],input[type="radio"]{
    display:inline;
    margin:0;
    padding:0
}
select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-position:right center;
    background-image:url("//bizweb.dktcdn.net/100/360/151/themes/727143/assets/ico-selects.png?1563957400883");
    background-repeat:no-repeat;
    background-position:right 10px center;
    background-color:#fff !important;
    padding-right:28px;
    text-indent:0.01px;
    text-overflow:'';
    cursor:pointer
}
.ie9 select,.lt-ie9 select{
    padding-right:10px;
    background-image:none
}
option{
    color:#000;
    background-color:#fff
}
select::-ms-expand{
    display:none
}
label,legend{
    display:block;
    margin-bottom:2px
}
label.inline,legend.inline{
    display:inline
}
input[type="checkbox"]+label,input[type="radio"]+label{
    font-weight:normal
}
label[for]{
    cursor:pointer
}
.label-hint{
    color:#999
}
form.form-horizontal,.form-horizontal{
    margin-bottom:0
}
form.form-horizontal input[type="text"],form.form-horizontal input[type="search"],form.form-horizontal input[type="password"],form.form-horizontal input[type="email"],form.form-horizontal input[type="file"],form.form-horizontal input[type="number"],form.form-horizontal input[type="tel"],form.form-horizontal textarea,form.form-horizontal select,form.form-horizontal label,.form-horizontal input[type="text"],.form-horizontal input[type="search"],.form-horizontal input[type="password"],.form-horizontal input[type="email"],.form-horizontal input[type="file"],.form-horizontal input[type="number"],.form-horizontal input[type="tel"],.form-horizontal textarea,.form-horizontal select,.form-horizontal label{
    display:inline-block;
    margin-bottom:0;
    width:auto
}
input[type="text"].error,input[type="search"].error,input[type="password"].error,input[type="email"].error,input[type="file"].error,input[type="number"].error,input[type="tel"].error,textarea.error{
    border-color:red;
    color:red
}
label.error{
    color:red
}
.input-group{
    position:relative;
    display:table;
    border-collapse:separate
}
.input-group .input-group-field:first-child,.input-group .input-group-btn:first-child,.input-group .input-group-btn:first-child>.btn,.input-group .input-group-btn:first-child>input[type="submit"],.input-group input[type="hidden"]:first-child+.input-group-field,.input-group input[type="hidden"]:first-child+.input-group-btn>.btn,.input-group input[type="hidden"]:first-child+.input-group-btn>input[type="submit"]{
    border-radius:0
}
.input-group .input-group-field:last-child,.input-group .input-group-btn:last-child>.btn,.input-group .input-group-btn:last-child>input[type="submit"]{
    border-radius:0
}
.input-group input::-moz-focus-inner{
    border:0;
    padding:0;
    margin-top:-1px;
    margin-bottom:-1px
}
.input-group-field,.input-group-btn{
    display:table-cell;
    vertical-align:middle;
    margin:0
}
.input-group .btn,.input-group input[type="submit"],.input-group .input-group-field{
    height:40px
}
.input-group .input-group-field{
    width:100%;
    margin-bottom:0
}
.input-group-btn{
    position:relative;
    white-space:nowrap;
    width:1%;
    padding:0
}
.form-group{
    margin:0;
    padding:0 0 8px;
    border:0
}
.form-group .form-control{
    display:block;
    width:100%;
    min-height:40px;
    padding:.375rem .75rem;
    font-size:1em;
    line-height:1.5;
    color:#55595c;
    background-color:#fff;
    background-image:none;
    margin:0
}
.form-group input,.form-group select{
    height:40px
}
.rte h1,.rte .h1,.rte h2,.rte .h2,.rte h3,.rte .h3,.rte h4,.rte .h4,.rte h5,.rte .h5,.rte h6,.rte .h6{
    margin-top:10px;
    font-weight:500
}
.rte h1:first-child,.rte .h1:first-child,.rte h2:first-child,.rte .h2:first-child,.rte h3:first-child,.rte .h3:first-child,.rte h4:first-child,.rte .h4:first-child,.rte h5:first-child,.rte .h5:first-child,.rte h6:first-child,.rte .h6:first-child{
    margin-top:0
}
@media (max-width: 767px){
    .rte h1,.rte .h1,.rte h2,.rte .h2,.rte h3,.rte .h3,.rte h4,.rte .h4,.rte h5,.rte .h5,.rte h6,.rte .h6{
        font-size:18px
    }
}
.rte h5,.rte .h5,.rte .h5{
    text-transform:uppercase
}
.rte>div{
    margin-bottom:15px
}
.rte ul ul{
    list-style:circle outside
}
.rte li{
    margin-bottom:0.4em
}
.rte img{
    max-width:100%;
    height:auto
}
.rte table{
    table-layout:fixed
}
.clearfix{
    *zoom:1
}
.clearfix:after{
    content:"";
    display:table;
    clear:both
}
.clearboth{
    clear:both
}
.no-background{
    background:none !important
}
.flexbox,.awe-popup{
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -webkit-box-align:center;
    align-items:center
}
.list-inline{
    *zoom:1
}
.list-inline:after{
    content:"";
    display:table;
    clear:both
}
.list-inline li{
    float:left;
    margin:0
}
.d-list>div{
    position:relative;
    margin-right:15px
}
.d-list>div:before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:1px;
    height:13px;
    margin:auto;
    z-index:9;
    background:#e1e1e1
}
.d-list>div:first-child{
    margin:0
}
.d-list>div:first-child:before{
    display:none
}
.a-center{
    text-align:center !important
}
.a-left{
    text-align:left !important
}
.a-right{
    text-align:right !important
}
.f-left{
    float:left !important
}
.f-right{
    float:right !important
}
.f-none{
    float:none !important
}
.inline{
    display:inline !important
}
.block{
    display:block !important
}
.inline-block{
    display:inline-block !important
}
.flexbox{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    overflow:hidden
}
.flexbox>div{
    flex:1
}
.background-none{
    background:none !important
}
.no-margin{
    margin:0 !important
}
.no-padding{
    padding:0 !important
}
.no-border{
    border:none !important
}
.ov-h{
    overflow:hidden !important
}
.relative{
    position:relative !important
}
.absolute{
    position:absolute !important
}
.margin-0{
    margin:0px !important
}
.margin-vertical-0{
    margin-top:0px !important;
    margin-bottom:0px !important
}
.margin-horizontal-0{
    margin-left:0px !important;
    margin-right:0px !important
}
.margin-top-0{
    margin-top:0px !important
}
.margin-bottom-0{
    margin-bottom:0px !important
}
.margin-left-0{
    margin-left:0px !important
}
.margin-right-0{
    margin-right:0px !important
}
.padding-0{
    padding:0px !important
}
.padding-vertical-0{
    padding-top:0px !important;
    padding-bottom:0px !important
}
.padding-horizontal-0{
    padding-left:0px !important;
    padding-right:0px !important
}
.padding-top-0{
    padding-top:0px !important
}
.padding-bottom-0{
    padding-bottom:0px !important
}
.padding-left-0{
    padding-left:0px !important
}
.padding-right-0{
    padding-right:0px !important
}
.margin-5{
    margin:5px !important
}
.margin-vertical-5{
    margin-top:5px !important;
    margin-bottom:5px !important
}
.margin-horizontal-5{
    margin-left:5px !important;
    margin-right:5px !important
}
.margin-top-5{
    margin-top:5px !important
}
.margin-bottom-5{
    margin-bottom:5px !important
}
.margin-left-5{
    margin-left:5px !important
}
.margin-right-5{
    margin-right:5px !important
}
.padding-5{
    padding:5px !important
}
.padding-vertical-5{
    padding-top:5px !important;
    padding-bottom:5px !important
}
.padding-horizontal-5{
    padding-left:5px !important;
    padding-right:5px !important
}
.padding-top-5{
    padding-top:5px !important
}
.padding-bottom-5{
    padding-bottom:5px !important
}
.padding-left-5{
    padding-left:5px !important
}
.padding-right-5{
    padding-right:5px !important
}
.margin-10{
    margin:10px !important
}
.margin-vertical-10{
    margin-top:10px !important;
    margin-bottom:10px !important
}
.margin-horizontal-10{
    margin-left:10px !important;
    margin-right:10px !important
}
.margin-top-10{
    margin-top:10px !important
}
.margin-bottom-10{
    margin-bottom:10px !important
}
.margin-left-10{
    margin-left:10px !important
}
.margin-right-10{
    margin-right:10px !important
}
.padding-10{
    padding:10px !important
}
.padding-vertical-10{
    padding-top:10px !important;
    padding-bottom:10px !important
}
.padding-horizontal-10{
    padding-left:10px !important;
    padding-right:10px !important
}
.padding-top-10{
    padding-top:10px !important
}
.padding-bottom-10{
    padding-bottom:10px !important
}
.padding-left-10{
    padding-left:10px !important
}
.padding-right-10{
    padding-right:10px !important
}
.margin-15{
    margin:15px !important
}
.margin-vertical-15{
    margin-top:15px !important;
    margin-bottom:15px !important
}
.margin-horizontal-15{
    margin-left:15px !important;
    margin-right:15px !important
}
.margin-top-15{
    margin-top:15px !important
}
.margin-bottom-15{
    margin-bottom:15px !important
}
.margin-left-15{
    margin-left:15px !important
}
.margin-right-15{
    margin-right:15px !important
}
.padding-15{
    padding:15px !important
}
.padding-vertical-15{
    padding-top:15px !important;
    padding-bottom:15px !important
}
.padding-horizontal-15{
    padding-left:15px !important;
    padding-right:15px !important
}
.padding-top-15{
    padding-top:15px !important
}
.padding-bottom-15{
    padding-bottom:15px !important
}
.padding-left-15{
    padding-left:15px !important
}
.padding-right-15{
    padding-right:15px !important
}
.margin-20{
    margin:20px !important
}
.margin-vertical-20{
    margin-top:20px !important;
    margin-bottom:20px !important
}
.margin-horizontal-20{
    margin-left:20px !important;
    margin-right:20px !important
}
.margin-top-20{
    margin-top:20px !important
}
.margin-bottom-20{
    margin-bottom:20px !important
}
.margin-left-20{
    margin-left:20px !important
}
.margin-right-20{
    margin-right:20px !important
}
.padding-20{
    padding:20px !important
}
.padding-vertical-20{
    padding-top:20px !important;
    padding-bottom:20px !important
}
.padding-horizontal-20{
    padding-left:20px !important;
    padding-right:20px !important
}
.padding-top-20{
    padding-top:20px !important
}
.padding-bottom-20{
    padding-bottom:20px !important
}
.padding-left-20{
    padding-left:20px !important
}
.padding-right-20{
    padding-right:20px !important
}
.margin-25{
    margin:25px !important
}
.margin-vertical-25{
    margin-top:25px !important;
    margin-bottom:25px !important
}
.margin-horizontal-25{
    margin-left:25px !important;
    margin-right:25px !important
}
.margin-top-25{
    margin-top:25px !important
}
.margin-bottom-25{
    margin-bottom:25px !important
}
.margin-left-25{
    margin-left:25px !important
}
.margin-right-25{
    margin-right:25px !important
}
.padding-25{
    padding:25px !important
}
.padding-vertical-25{
    padding-top:25px !important;
    padding-bottom:25px !important
}
.padding-horizontal-25{
    padding-left:25px !important;
    padding-right:25px !important
}
.padding-top-25{
    padding-top:25px !important
}
.padding-bottom-25{
    padding-bottom:25px !important
}
.padding-left-25{
    padding-left:25px !important
}
.padding-right-25{
    padding-right:25px !important
}
.margin-30{
    margin:30px !important
}
.margin-vertical-30{
    margin-top:30px !important;
    margin-bottom:30px !important
}
.margin-horizontal-30{
    margin-left:30px !important;
    margin-right:30px !important
}
.margin-top-30{
    margin-top:30px !important
}
.margin-bottom-30{
    margin-bottom:30px !important
}
.margin-left-30{
    margin-left:30px !important
}
.margin-right-30{
    margin-right:30px !important
}
.padding-30{
    padding:30px !important
}
.padding-vertical-30{
    padding-top:30px !important;
    padding-bottom:30px !important
}
.padding-horizontal-30{
    padding-left:30px !important;
    padding-right:30px !important
}
.padding-top-30{
    padding-top:30px !important
}
.padding-bottom-30{
    padding-bottom:30px !important
}
.padding-left-30{
    padding-left:30px !important
}
.padding-right-30{
    padding-right:30px !important
}
.margin-35{
    margin:35px !important
}
.margin-vertical-35{
    margin-top:35px !important;
    margin-bottom:35px !important
}
.margin-horizontal-35{
    margin-left:35px !important;
    margin-right:35px !important
}
.margin-top-35{
    margin-top:35px !important
}
.margin-bottom-35{
    margin-bottom:35px !important
}
.margin-left-35{
    margin-left:35px !important
}
.margin-right-35{
    margin-right:35px !important
}
.padding-35{
    padding:35px !important
}
.padding-vertical-35{
    padding-top:35px !important;
    padding-bottom:35px !important
}
.padding-horizontal-35{
    padding-left:35px !important;
    padding-right:35px !important
}
.padding-top-35{
    padding-top:35px !important
}
.padding-bottom-35{
    padding-bottom:35px !important
}
.padding-left-35{
    padding-left:35px !important
}
.padding-right-35{
    padding-right:35px !important
}
.margin-40{
    margin:40px !important
}
.margin-vertical-40{
    margin-top:40px !important;
    margin-bottom:40px !important
}
.margin-horizontal-40{
    margin-left:40px !important;
    margin-right:40px !important
}
.margin-top-40{
    margin-top:40px !important
}
.margin-bottom-40{
    margin-bottom:40px !important
}
.margin-left-40{
    margin-left:40px !important
}
.margin-right-40{
    margin-right:40px !important
}
.padding-40{
    padding:40px !important
}
.padding-vertical-40{
    padding-top:40px !important;
    padding-bottom:40px !important
}
.padding-horizontal-40{
    padding-left:40px !important;
    padding-right:40px !important
}
.padding-top-40{
    padding-top:40px !important
}
.padding-bottom-40{
    padding-bottom:40px !important
}
.padding-left-40{
    padding-left:40px !important
}
.padding-right-40{
    padding-right:40px !important
}
.margin-45{
    margin:45px !important
}
.margin-vertical-45{
    margin-top:45px !important;
    margin-bottom:45px !important
}
.margin-horizontal-45{
    margin-left:45px !important;
    margin-right:45px !important
}
.margin-top-45{
    margin-top:45px !important
}
.margin-bottom-45{
    margin-bottom:45px !important
}
.margin-left-45{
    margin-left:45px !important
}
.margin-right-45{
    margin-right:45px !important
}
.padding-45{
    padding:45px !important
}
.padding-vertical-45{
    padding-top:45px !important;
    padding-bottom:45px !important
}
.padding-horizontal-45{
    padding-left:45px !important;
    padding-right:45px !important
}
.padding-top-45{
    padding-top:45px !important
}
.padding-bottom-45{
    padding-bottom:45px !important
}
.padding-left-45{
    padding-left:45px !important
}
.padding-right-45{
    padding-right:45px !important
}
.margin-50{
    margin:50px !important
}
.margin-vertical-50{
    margin-top:50px !important;
    margin-bottom:50px !important
}
.margin-horizontal-50{
    margin-left:50px !important;
    margin-right:50px !important
}
.margin-top-50{
    margin-top:50px !important
}
.margin-bottom-50{
    margin-bottom:50px !important
}
.margin-left-50{
    margin-left:50px !important
}
.margin-right-50{
    margin-right:50px !important
}
.padding-50{
    padding:50px !important
}
.padding-vertical-50{
    padding-top:50px !important;
    padding-bottom:50px !important
}
.padding-horizontal-50{
    padding-left:50px !important;
    padding-right:50px !important
}
.padding-top-50{
    padding-top:50px !important
}
.padding-bottom-50{
    padding-bottom:50px !important
}
.padding-left-50{
    padding-left:50px !important
}
.padding-right-50{
    padding-right:50px !important
}
.margin-55{
    margin:55px !important
}
.margin-vertical-55{
    margin-top:55px !important;
    margin-bottom:55px !important
}
.margin-horizontal-55{
    margin-left:55px !important;
    margin-right:55px !important
}
.margin-top-55{
    margin-top:55px !important
}
.margin-bottom-55{
    margin-bottom:55px !important
}
.margin-left-55{
    margin-left:55px !important
}
.margin-right-55{
    margin-right:55px !important
}
.padding-55{
    padding:55px !important
}
.padding-vertical-55{
    padding-top:55px !important;
    padding-bottom:55px !important
}
.padding-horizontal-55{
    padding-left:55px !important;
    padding-right:55px !important
}
.padding-top-55{
    padding-top:55px !important
}
.padding-bottom-55{
    padding-bottom:55px !important
}
.padding-left-55{
    padding-left:55px !important
}
.padding-right-55{
    padding-right:55px !important
}
.margin-60{
    margin:60px !important
}
.margin-vertical-60{
    margin-top:60px !important;
    margin-bottom:60px !important
}
.margin-horizontal-60{
    margin-left:60px !important;
    margin-right:60px !important
}
.margin-top-60{
    margin-top:60px !important
}
.margin-bottom-60{
    margin-bottom:60px !important
}
.margin-left-60{
    margin-left:60px !important
}
.margin-right-60{
    margin-right:60px !important
}
.padding-60{
    padding:60px !important
}
.padding-vertical-60{
    padding-top:60px !important;
    padding-bottom:60px !important
}
.padding-horizontal-60{
    padding-left:60px !important;
    padding-right:60px !important
}
.padding-top-60{
    padding-top:60px !important
}
.padding-bottom-60{
    padding-bottom:60px !important
}
.padding-left-60{
    padding-left:60px !important
}
.padding-right-60{
    padding-right:60px !important
}
.margin-65{
    margin:65px !important
}
.margin-vertical-65{
    margin-top:65px !important;
    margin-bottom:65px !important
}
.margin-horizontal-65{
    margin-left:65px !important;
    margin-right:65px !important
}
.margin-top-65{
    margin-top:65px !important
}
.margin-bottom-65{
    margin-bottom:65px !important
}
.margin-left-65{
    margin-left:65px !important
}
.margin-right-65{
    margin-right:65px !important
}
.padding-65{
    padding:65px !important
}
.padding-vertical-65{
    padding-top:65px !important;
    padding-bottom:65px !important
}
.padding-horizontal-65{
    padding-left:65px !important;
    padding-right:65px !important
}
.padding-top-65{
    padding-top:65px !important
}
.padding-bottom-65{
    padding-bottom:65px !important
}
.padding-left-65{
    padding-left:65px !important
}
.padding-right-65{
    padding-right:65px !important
}
.margin-70{
    margin:70px !important
}
.margin-vertical-70{
    margin-top:70px !important;
    margin-bottom:70px !important
}
.margin-horizontal-70{
    margin-left:70px !important;
    margin-right:70px !important
}
.margin-top-70{
    margin-top:70px !important
}
.margin-bottom-70{
    margin-bottom:70px !important
}
.margin-left-70{
    margin-left:70px !important
}
.margin-right-70{
    margin-right:70px !important
}
.padding-70{
    padding:70px !important
}
.padding-vertical-70{
    padding-top:70px !important;
    padding-bottom:70px !important
}
.padding-horizontal-70{
    padding-left:70px !important;
    padding-right:70px !important
}
.padding-top-70{
    padding-top:70px !important
}
.padding-bottom-70{
    padding-bottom:70px !important
}
.padding-left-70{
    padding-left:70px !important
}
.padding-right-70{
    padding-right:70px !important
}
.margin-75{
    margin:75px !important
}
.margin-vertical-75{
    margin-top:75px !important;
    margin-bottom:75px !important
}
.margin-horizontal-75{
    margin-left:75px !important;
    margin-right:75px !important
}
.margin-top-75{
    margin-top:75px !important
}
.margin-bottom-75{
    margin-bottom:75px !important
}
.margin-left-75{
    margin-left:75px !important
}
.margin-right-75{
    margin-right:75px !important
}
.padding-75{
    padding:75px !important
}
.padding-vertical-75{
    padding-top:75px !important;
    padding-bottom:75px !important
}
.padding-horizontal-75{
    padding-left:75px !important;
    padding-right:75px !important
}
.padding-top-75{
    padding-top:75px !important
}
.padding-bottom-75{
    padding-bottom:75px !important
}
.padding-left-75{
    padding-left:75px !important
}
.padding-right-75{
    padding-right:75px !important
}
.margin-80{
    margin:80px !important
}
.margin-vertical-80{
    margin-top:80px !important;
    margin-bottom:80px !important
}
.margin-horizontal-80{
    margin-left:80px !important;
    margin-right:80px !important
}
.margin-top-80{
    margin-top:80px !important
}
.margin-bottom-80{
    margin-bottom:80px !important
}
.margin-left-80{
    margin-left:80px !important
}
.margin-right-80{
    margin-right:80px !important
}
.padding-80{
    padding:80px !important
}
.padding-vertical-80{
    padding-top:80px !important;
    padding-bottom:80px !important
}
.padding-horizontal-80{
    padding-left:80px !important;
    padding-right:80px !important
}
.padding-top-80{
    padding-top:80px !important
}
.padding-bottom-80{
    padding-bottom:80px !important
}
.padding-left-80{
    padding-left:80px !important
}
.padding-right-80{
    padding-right:80px !important
}
.margin-85{
    margin:85px !important
}
.margin-vertical-85{
    margin-top:85px !important;
    margin-bottom:85px !important
}
.margin-horizontal-85{
    margin-left:85px !important;
    margin-right:85px !important
}
.margin-top-85{
    margin-top:85px !important
}
.margin-bottom-85{
    margin-bottom:85px !important
}
.margin-left-85{
    margin-left:85px !important
}
.margin-right-85{
    margin-right:85px !important
}
.padding-85{
    padding:85px !important
}
.padding-vertical-85{
    padding-top:85px !important;
    padding-bottom:85px !important
}
.padding-horizontal-85{
    padding-left:85px !important;
    padding-right:85px !important
}
.padding-top-85{
    padding-top:85px !important
}
.padding-bottom-85{
    padding-bottom:85px !important
}
.padding-left-85{
    padding-left:85px !important
}
.padding-right-85{
    padding-right:85px !important
}
.margin-90{
    margin:90px !important
}
.margin-vertical-90{
    margin-top:90px !important;
    margin-bottom:90px !important
}
.margin-horizontal-90{
    margin-left:90px !important;
    margin-right:90px !important
}
.margin-top-90{
    margin-top:90px !important
}
.margin-bottom-90{
    margin-bottom:90px !important
}
.margin-left-90{
    margin-left:90px !important
}
.margin-right-90{
    margin-right:90px !important
}
.padding-90{
    padding:90px !important
}
.padding-vertical-90{
    padding-top:90px !important;
    padding-bottom:90px !important
}
.padding-horizontal-90{
    padding-left:90px !important;
    padding-right:90px !important
}
.padding-top-90{
    padding-top:90px !important
}
.padding-bottom-90{
    padding-bottom:90px !important
}
.padding-left-90{
    padding-left:90px !important
}
.padding-right-90{
    padding-right:90px !important
}
.margin-95{
    margin:95px !important
}
.margin-vertical-95{
    margin-top:95px !important;
    margin-bottom:95px !important
}
.margin-horizontal-95{
    margin-left:95px !important;
    margin-right:95px !important
}
.margin-top-95{
    margin-top:95px !important
}
.margin-bottom-95{
    margin-bottom:95px !important
}
.margin-left-95{
    margin-left:95px !important
}
.margin-right-95{
    margin-right:95px !important
}
.padding-95{
    padding:95px !important
}
.padding-vertical-95{
    padding-top:95px !important;
    padding-bottom:95px !important
}
.padding-horizontal-95{
    padding-left:95px !important;
    padding-right:95px !important
}
.padding-top-95{
    padding-top:95px !important
}
.padding-bottom-95{
    padding-bottom:95px !important
}
.padding-left-95{
    padding-left:95px !important
}
.padding-right-95{
    padding-right:95px !important
}
.margin-100{
    margin:100px !important
}
.margin-vertical-100{
    margin-top:100px !important;
    margin-bottom:100px !important
}
.margin-horizontal-100{
    margin-left:100px !important;
    margin-right:100px !important
}
.margin-top-100{
    margin-top:100px !important
}
.margin-bottom-100{
    margin-bottom:100px !important
}
.margin-left-100{
    margin-left:100px !important
}
.margin-right-100{
    margin-right:100px !important
}
.padding-100{
    padding:100px !important
}
.padding-vertical-100{
    padding-top:100px !important;
    padding-bottom:100px !important
}
.padding-horizontal-100{
    padding-left:100px !important;
    padding-right:100px !important
}
.padding-top-100{
    padding-top:100px !important
}
.padding-bottom-100{
    padding-bottom:100px !important
}
.padding-left-100{
    padding-left:100px !important
}
.padding-right-100{
    padding-right:100px !important
}
.btn,input[type="submit"]{
    display:inline-block;
    height:40px;
    line-height:39px;
    padding:0 20px;
    text-align:center;
    white-space:nowrap;
    outline:none !important;
    cursor:pointer;
    border:none;
    font-weight:400;
    border-radius:0;
    letter-spacing:0;
    -webkit-transition:background-color 0.1s ease-in;
    -moz-transition:background-color 0.1s ease-in;
    -ms-transition:background-color 0.1s ease-in;
    -o-transition:background-color 0.1s ease-in;
    transition:background-color 0.1s ease-in;
    -webkit-border-radius:0;
    border-radius:0
}
.btn[disabled],input[disabled][type="submit"],.btn.disabled,input.disabled[type="submit"]{
    cursor:default;
    background-color:#e1e1e1
}
.btn.btn-primary,input.btn-primary[type="submit"]{
    background:#f02b2b;
    color:#fff
}
.btn.btn-primary:hover,input.btn-primary[type="submit"]:hover{
    background:#f24343
}
.btn.btn-circle,input.btn-circle[type="submit"]{
    border-radius:50%;
    padding:0
}
.btn.btn-large,input.btn-large[type="submit"]{
    height:50px;
    line-height:50px;
    padding:0 74px
}
.btn.btn-small,input.btn-small[type="submit"]{
    height:34px;
    line-height:34px;
    padding:0 32px;
    font-size:.85714em
}
.btn.btn-dark,input.btn-dark[type="submit"]{
    background:#2a2a2a;
    color:#fff
}
.btn.btn-white,input.btn-white[type="submit"]{
    background:#fff;
    color:#333;
    border:1px solid #e1e1e1;
    font-weight:400
}
.btn.btn-white:hover,input.btn-white[type="submit"]:hover{
    background:#5bc01e;
    color:#fff
}
.btn.btn-gray,input.btn-gray[type="submit"]{
    background:#9e9e9e;
    color:#fff
}
.btn.btn-gray:hover,input.btn-gray[type="submit"]:hover{
    background:#51aa1b
}
.btn.btn-gray a,input.btn-gray[type="submit"] a{
    color:#fff
}
.btn.btn-full,input.btn-full[type="submit"]{
    display:block;
    width:100%
}
.btn-link{
    line-height:40px;
    color:#51aa1b
}
.btn-link:hover{
    text-decoration:underline
}
.ajax-load{
    position:fixed;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    text-align:center;
    width:100px;
    height:100px;
    line-height:100px;
    opacity:0;
    visibility:hidden
}
.ajax-load.active{
    opacity:1;
    visibility:visible;
    z-index:9999
}
.awe-popup{
    position:fixed;
    z-index:9999;
    top:0;
    height:0;
    width:0;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
    overflow:hidden;
    visibility:hidden;
    opacity:0;
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition:all 200ms ease-in-out;
    -ms-transition:all 200ms ease-in-out;
    -o-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out
}
.awe-popup .overlay{
    background-color:rgba(33,33,33,0.8);
    color:rgba(0,0,0,0.4);
    position:fixed;
    top:0 !important;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:0;
    height:0
}
.awe-popup .content{
    position:relative;
    max-width:1140px;
    min-width:1140px;
    padding:25px 28px;
    max-height:0;
    text-align:left;
    opacity:0;
    margin:0 auto;
    background:transparent;
    overflow:hidden;
    -webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    transition:all 300ms ease-in-out;
    position:relative;
    padding:25px 28px;
    max-height:0;
    text-align:left;
    opacity:0;
    margin:0 auto;
    background:#fff
}
.awe-popup.active{
    visibility:visible;
    opacity:1;
    top:0 !important;
    height:auto;
    width:auto
}
.awe-popup.active .content{
    max-height:calc(100% - 60px);
    opacity:1;
    background:transparent;
    padding:0
}
.awe-popup.active .content .info{
    background:#fff;
    min-width:500px
}
.awe-popup.active .overlay{
    width:100%;
    height:100%
}
.close-window{
    position:absolute;
    top:10px;
    right:10px;
    width:25px;
    height:25px;
    cursor:pointer;
    z-index:8040;
    color:#fff;
    text-align:center;
    line-height:25px;
    border-radius:50%
}
.close-window .fa{
    display:block;
    font-size:1.42857em;
    line-height:25px;
    color:#fff
}
.awe-popup.loading{
    z-index:9998
}
.awe-popup.loading .loader{
    left:50%;
    position:fixed;
    top:50%;
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    -webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    transition:all 300ms ease-in-out
}
.awe-popup.loaded-content .loader{
    display:none
}
.awe-popup.addcart-popup .content{
    min-width:auto
}
.product-popup .product-image{
    float:left;
    margin:0 20px 0 0
}
.product-popup .product-info{
    overflow:hidden;
    position:relative
}
.product-popup .product-info p{
    margin-bottom:0px;
    line-height:24px
}
.product-popup .popup-title{
    padding-left:15px;
    border-radius:0
}
.product-popup .popup-title i{
    margin-right:5px
}
.product-popup .product-name{
    color:#51aa1b
}
.product-popup .product-info p.total-money{
    margin-bottom:15px
}
.product-popup h3,.product-popup .h3{
    color:#52b249;
    margin-bottom:25px
}
.product-popup h3 .fa,.product-popup .h3 .fa{
    margin-right:4px
}
.product-popup .pop-right h3,.product-popup .pop-right .h3{
    color:#333
}
.pop-right{
    background:#f9f9f9
}
.awe-popup.product-popup.active .content{
    max-height:calc(100% - 60px);
    opacity:1;
    padding:0
}
@media (max-width: 1199px){
    .awe-popup .content{
        max-width:700px;
        min-width:auto
    }
}
@media (max-width: 543px){
    .product-popup .product-image{
        width:120px;
        height:120px
    }
    .product-popup .product-image img{
        max-width:120px !important
    }
    .awe-popup.product-popup.active .content{
        max-height:calc(100% - 60px);
        opacity:1;
        margin:0 20px
    }
    .addcart-popup .col-xl-6{
        padding:0 !important
    }
    .product-popup h3,.product-popup .h3{
        font-size:1.28571em;
        margin-bottom:0
    }
}
.swatch{
    margin-bottom:10px
}
.swatch .header{
    margin-bottom:5px;
    text-align:left;
    float:none;
    min-width:100px;
    font-weight:500
}
.swatch input{
    display:none
}
.swatch label{
    float:left;
    min-width:35px !important;
    height:35px !important;
    margin:0;
    border:1px solid #e5e5e5;
    background-color:#fff;
    font-size:.92857em;
    text-align:center;
    line-height:35px;
    white-space:nowrap;
    font-weight:500;
    padding:0
}
.swatch-element label{
    padding:0 5px
}
.swatch-element label .img-check{
    display:none
}
.color.swatch-element label{
    padding:0 5px
}
.swatch input:checked+label{
    background:transparent;
    color:#51aa1b;
    border:1px solid #51aa1b
}
.swatch input:checked+label .img-check{
    display:inline-block;
    position:absolute;
    bottom:0;
    right:0
}
.swatch .color input:checked+label{
    position:relative;
    border:1px solid #51aa1b
}
.swatch .color input:checked+label:after{
    content:"\f00c";
    font-family:FontAwesome;
    display:none
}
.swatch .color .has-thumb{
    position:relative
}
.swatch .color .has-thumb .ant-swatch{
    max-height:30px;
    position:relative;
    top:-2px;
    left:-3px
}
.swatch .swatch-element{
    float:left;
    -webkit-transform:translateZ(0);
    -webkit-font-smoothing:antialiased;
    margin:0px 5px 5px 0;
    position:relative
}
.crossed-out{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0
}
#quick-view-product .selector-wrapper{
    display:none !important
}
.swatch .swatch-element .crossed-out{
    display:none
}
.swatch .swatch-element.soldout .crossed-out{
    display:block
}
.swatch .swatch-element.soldout label{
    filter:alpha(opacity=60);
    -khtml-opacity:0.6;
    -moz-opacity:0.6;
    opacity:0.6
}
.swatch .tooltip{
    text-align:center;
    background:#51aa1b;
    color:#fff;
    bottom:100%;
    padding:10px;
    display:block;
    position:absolute;
    width:100px;
    left:-35px;
    margin-bottom:15px;
    filter:alpha(opacity=0);
    -khtml-opacity:0;
    -moz-opacity:0;
    opacity:0;
    visibility:hidden;
    -webkit-transform:translateY(10px);
    -moz-transform:translateY(10px);
    -ms-transform:translateY(10px);
    -o-transform:translateY(10px);
    transform:translateY(10px);
    -webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -ms-transition:all .25s ease-out;
    -o-transition:all .25s ease-out;
    transition:all .25s ease-out;
    -webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.28);
    -moz-box-shadow:2px 2px 6px rgba(0,0,0,0.28);
    -ms-box-shadow:2px 2px 6px rgba(0,0,0,0.28);
    -o-box-shadow:2px 2px 6px rgba(0,0,0,0.28);
    box-shadow:2px 2px 6px rgba(0,0,0,0.28);
    z-index:10000;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:5px
}
.swatch .tooltip:before{
    bottom:-20px;
    content:" ";
    display:block;
    height:20px;
    left:0;
    position:absolute;
    width:100%
}
.swatch .tooltip:after{
    border-left:solid transparent 10px;
    border-right:solid transparent 10px;
    border-top:solid #51aa1b 10px;
    bottom:-10px;
    content:" ";
    height:0;
    left:50%;
    margin-left:-13px;
    position:absolute;
    width:0
}
.swatch .swatch-element:hover .tooltip{
    filter:alpha(opacity=100);
    -khtml-opacity:1;
    -moz-opacity:1;
    opacity:1;
    visibility:visible;
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    -ms-transform:translateY(0px);
    -o-transform:translateY(0px);
    transform:translateY(0px)
}
.swatch.error{
    background-color:#E8D2D2 !important;
    color:#333 !important;
    padding:1em;
    border-radius:5px
}
.swatch.error p{
    margin:0.7em 0
}
.swatch.error p:first-child{
    margin-top:0
}
.swatch.error p:last-child{
    margin-bottom:0
}
.swatch.error code{
    font-family:monospace
}
.owl-carousel .owl-nav .owl-prev,.owl-carousel .owl-nav .owl-next{
    top:50%;
    position:absolute;
    text-decoration:none;
    width:30px;
    padding:0;
    background:transparent;
    outline:none;
    border-radius:0;
    white-space:nowrap;
    margin-right:0;
    margin-left:0
}
.owl-carousel .owl-nav .owl-prev:before,.owl-carousel .owl-nav .owl-next:before{
    font-family:"FontAwesome";
    text-indent:0;
    position:absolute;
    left:0;
    width:29px;
    text-align:center;
    line-height:29px;
    font-size:20px;
    background:#f5f5f5;
    color:#dadbdb;
    display:none
}
.owl-carousel .owl-nav .owl-prev{
    left:0
}
.owl-carousel .owl-nav .owl-prev:before{
    content:"\f104"
}
.owl-carousel .owl-nav .owl-next{
    right:0
}
.owl-carousel .owl-nav .owl-next:before{
    content:"\f105"
}
.owl-carousel .owl-nav .disabled{
    opacity:.5;
    cursor:default
}
@media (max-width: 768px){
    .owl-carousel .owl-nav .owl-prev:before,.owl-carousel .owl-nav .owl-next:before{
        font-size:14px
    }
    .owl-carousel .owl-nav .owl-prev{
        left:0
    }
    .owl-carousel .owl-nav .owl-next{
        right:0
    }
}
.owl-carousel .owl-dots{
    display:block;
    margin-top:10px;
    text-align:center;
    position:absolute;
    bottom:10px;
    width:100%
}
.owl-carousel .owl-dots .owl-dot{
    display:inline-block;
    width:12px;
    height:12px;
    background:#fff;
    border-radius:50%;
    margin:0 3px
}
.owl-carousel .owl-dots .owl-dot.active{
    background:#51aa1b
}
.owl-carousel-inset .owl-nav .owl-prev{
    left:0
}
.owl-carousel-inset .owl-nav .owl-next{
    right:0
}
.owl-carousel-inset .owl-dots{
    position:absolute;
    left:0;
    width:100%;
    bottom:25px
}
.owl-carousel-inset .owl-prev,.owl-carousel-inset .owl-next{
    opacity:0;
    visibility:hidden;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease
}
.owl-carousel-inset:hover .owl-prev,.owl-carousel-inset:hover .owl-next{
    opacity:1;
    visibility:visible
}
.owl-carousel-inset:hover .owl-prev.disabled,.owl-carousel-inset:hover .owl-next.disabled{
    opacity:.5
}
.owl-carousel-inset:hover .owl-nav .owl-prev{
    left:25px
}
.owl-carousel-inset:hover .owl-nav .owl-next{
    right:25px
}
.owl-carousel .owl-item img{
    width:auto
}
.owl-carousel .owl-item.focus{
    border:2px solid #333
}
.tab-wrap .tabs-title{
    *zoom:1;
    display:inline-block;
    position:relative;
    z-index:9;
    margin:0 0 26px
}
.tab-wrap .tabs-title:after{
    content:"";
    display:table;
    clear:both
}
.tab-wrap .tabs-title li{
    font-size:2.2rem;
    font-weight:700;
    text-transform:uppercase;
    position:relative;
    line-height:40px;
    float:left
}
.tab-wrap .tabs-title li:before{
    content:"|";
    color:#c9c9c9;
    padding:0 16px;
    color:#1c1c1c
}
.tab-wrap .tabs-title li:first-child:before{
    display:none
}
.tab-wrap .tabs-title li.current{
    color:#212121
}
.tab-wrap .tab-content{
    position:relative
}
ul.tabs li{
    background:none;
    display:inline-block;
    cursor:pointer
}
ul.tabs li.current{
    color:#000
}
.tab-content{
    opacity:0;
    visibility:hidden;
    height:0;
    overflow:hidden
}
.tab-content.current{
    opacity:1;
    visibility:visible;
    height:auto
}
.accordion .nav-item .tab-pane{
    opacity:0;
    visibility:hidden;
    height:0;
    overflow:hidden
}
.accordion .nav-item.active .tab-pane{
    opacity:1;
    visibility:visible;
    height:auto;
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition:all 200ms ease-in-out;
    -ms-transition:all 200ms ease-in-out;
    -o-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out
}
#quickview .product-name{
    margin-top:0;
    font-size:18px
}
#quickview .product-name a{
    color:#000;
    font-size:18px
}
#quickview .product-name a:hover,#quickview .product-name a:focus{
    color:#51aa1b;
    text-decoration:none
}
#quickview button.btn.btn-close.btn-default{
    position:absolute;
    right:-20px;
    top:-20px;
    width:30px;
    font-size:14px;
    height:30px;
    text-align:center;
    line-height:2px;
    border-radius:50%;
    background:#000;
    color:#fff;
    padding:0
}
#quickview .modal-content{
    border-radius:7px
}
#quickview .modal-body{
    position:relative;
    padding:20px;
    border:2px solid #51aa1b;
    border-radius:7px
}
#quickview .modal-dialog{
    width:910px;
    border-radius:0
}
#quickview .status{
    font-size:14px;
    margin-bottom:0px;
    font-weight:400
}
#quickview .inventory{
    display:inline-block;
    padding:0 5px;
    color:#51aa1b
}
#quickview .selector-wrapper select{
    height:40px
}
#quickview .info-other{
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px solid #ebebeb
}
#quickview .info-other p{
    margin-bottom:0;
    font-weight:600
}
#quickview .info-other p label{
    font-weight:normal
}
#quickview span.discount{
    color:#51aa1b
}
#quickview .product-price{
    font-size:1.42857em;
    display:inline-block
}
#quickview .price-box{
    margin:0px 0 10px;
    padding-bottom:10px;
    border-bottom:1px solid #ebebeb
}
#quickview .price-box .special-price span{
    color:#51aa1b
}
#quickview .price-box .old-price{
    display:block;
    color:#bbb;
    font-size:1em;
    margin-top:7px;
    margin-top:7px;
    clear:left
}
#quickview .product-description.rte{
    padding-bottom:5px
}
#quickview .product-description.rte p{
    margin-bottom:5px
}
#quickview #thumbnail_quickview{
    opacity:0;
    visibility:hidden;
    height:0
}
#quickview #thumbnail_quickview.op1{
    opacity:1;
    visibility:visible;
    height:auto
}
#quickview #thumbnail_quickview .item{
    border:2px solid #ebebeb;
    padding:3px;
    height:95px;
    position:relative;
    margin:1px
}
#quickview #thumbnail_quickview .item img{
    width:auto;
    max-height:87px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    padding:2px
}
#quickview #thumbnail_quickview .thumblist_carousel.owl-carousel .owl-nav .owl-prev,#quickview #thumbnail_quickview .thumblist_carousel.owl-carousel .owl-nav .owl-next{
    -moz-transition:all 0.45s ease;
    -webkit-transition:all 0.45s ease;
    -o-transition:all 0.45s ease;
    -ms-transition:all 0.45s ease;
    transition:all 0.45s ease;
    opacity:0;
    visibility:hidden
}
#quickview #thumbnail_quickview .thumblist_carousel.owl-carousel .owl-nav .owl-next{
    height:51px;
    width:32px;
    border:1px solid #f1f5f6;
    border-radius:4px;
    background-color:#fff;
    box-shadow:0 7px 10px 0 rgba(72,139,216,0.2);
    position:absolute;
    right:0;
    text-align:center;
    line-height:51px;
    top:50%;
    transform:translate(0, -50%);
    color:#878fa0;
    font-size:20px;
    margin:0;
    right:-50px
}
#quickview #thumbnail_quickview .thumblist_carousel.owl-carousel .owl-nav .owl-next.disabled{
    opacity:0.2 !important
}
#quickview #thumbnail_quickview .thumblist_carousel.owl-carousel .owl-nav .owl-prev{
    height:51px;
    width:32px;
    border:1px solid #f1f5f6;
    border-radius:4px;
    background-color:#fff;
    box-shadow:0 7px 10px 0 rgba(72,139,216,0.2);
    position:absolute;
    left:0;
    text-align:center;
    line-height:51px;
    top:50%;
    transform:translate(0, -50%);
    color:#878fa0;
    font-size:20px;
    margin:0;
    left:-50px
}
#quickview #thumbnail_quickview .thumblist_carousel.owl-carousel .owl-nav .owl-prev.disabled{
    opacity:0.2 !important
}
#quickview #thumbnail_quickview .thumblist_carousel.owl-carousel:hover .owl-nav .owl-prev{
    left:0;
    opacity:1;
    visibility:inherit
}
#quickview #thumbnail_quickview .thumblist_carousel.owl-carousel:hover .owl-nav .owl-next{
    right:0;
    opacity:1;
    visibility:inherit
}
#quickview .image{
    border:1px solid #ebebeb;
    padding:5px
}
#quickview .image.margin-bottom-15{
    position:relative;
    height:400px
}
#quickview .image.margin-bottom-15 img{
    width:auto;
    max-height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto
}
#quickview .rte img,#quickview .rte iframe{
    display:none !important
}
#quickview .quantity_wanted_p{
    margin-top:15px
}
#quickview .quantity_wanted_p label{
    display:inline-block;
    line-height:45px;
    float:left
}
#quickview .quantity_wanted_p input{
    margin:0 10px;
    height:40px;
    padding:0;
    width:60px;
    display:inline-block;
    border-radius:3px;
    outline:none;
    box-shadow:none;
    text-align:center;
    float:left
}
#quickview .quantity_wanted_p .btn,#quickview .quantity_wanted_p input[type="submit"]{
    font-size:14px;
    padding:0 45px;
    border-radius:3px;
    display:inline-block;
    background-color:#51aa1b;
    color:#fff;
    border:1px solid #51aa1b;
    text-transform:uppercase;
    float:left
}
#quickview .quantity_wanted_p .btn:hover,#quickview .quantity_wanted_p input[type="submit"]:hover,#quickview .quantity_wanted_p .btn:focus,#quickview .quantity_wanted_p input[type="submit"]:focus{
    background-color:#fff;
    color:#51aa1b
}
#quickview .swatch{
    display:none;
    clear:both
}
#quickview .swatch .header{
    float:none;
    display:block;
    width:100%
}
#quickview .swatch .swatch-element{
    float:none;
    display:inline-block
}
#quickview .hasswatch .swatch{
    display:block;
    margin-bottom:7px;
    margin-top:0
}
#quickview .hasswatch .swatch .header{
    float:none
}
#quickview .hasswatch .selector-wrapper{
    display:none
}
.filter-container{
    margin-bottom:0px
}
.filter-group{
    margin-bottom:0px
}
.filter-group ul{
    max-height:230px;
    overflow-y:auto
}
.filter-group ul::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    border-radius:5px;
    background-color:#F5F5F5
}
.filter-group ul::-webkit-scrollbar{
    width:5px;
    background-color:#F5F5F5
}
.filter-group ul::-webkit-scrollbar-thumb{
    border-radius:5px;
    -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    background-color:#e5e5e5
}
#start{
    width:100px;
    float:left
}
@media (max-width: 1024px){
    #start{
        width:80px
    }
}
#start input{
    text-align:center;
    border-radius:0px;
    border:1px solid #e1e1e1;
    box-shadow:none;
    outline:none;
    box-shadow:none;
    -webkit-appearance:none;
    -moz-appearance:none
}
#stop{
    width:100px;
    float:left;
    margin-left:30px;
    text-align:center;
    position:relative
}
@media (max-width: 1024px){
    #stop{
        width:80px
    }
}
#stop input{
    text-align:center;
    border-radius:0px;
    border:1px solid #e1e1e1;
    box-shadow:none;
    outline:none;
    box-shadow:none;
    -webkit-appearance:none;
    -moz-appearance:none
}
#stop:before{
    content:"-";
    position:absolute;
    left:-17px;
    font-size:17px
}
.filter-group-title{
    display:block;
    font-size:1.28571em;
    margin-bottom:10px
}
.filter-item{
    margin:0;
    cursor:pointer;
    line-height:2.5em
}
.filter-item *{
    color:#6f6f6f;
    cursor:pointer;
    font-size:1em;
    font-weight:normal
}
.filter-item.color{
    min-width:20px
}
.filter-item.color a,.filter-item.color label{
    width:100%;
    height:100%;
    display:inline-block;
    font-size:0
}
.filter-item.color .fa{
    width:20px;
    height:20px;
    background:red;
    border-radius:50%;
    position:relative
}
.filter-item.color .fa:before{
    display:none
}
.filter-item.color .fa.trang:hover:before{
    display:block;
    content:"";
    width:26px;
    height:26px;
    position:absolute;
    left:-4px;
    top:-4px;
    border:1px solid #e2e2e2;
    border-radius:50%
}
.filter-item.color .fa:hover:before{
    display:block;
    content:"";
    width:26px;
    height:26px;
    position:absolute;
    left:-3px;
    top:-3px;
    border:1px solid #e2e2e2;
    border-radius:50%
}
.filter-item.color input:checked+.fa:before{
    display:block;
    content:"";
    width:26px;
    height:26px;
    position:absolute;
    left:-3px;
    top:-3px;
    border:1px solid #e2e2e2;
    border-radius:50%
}
.filter-item.color input:checked+.fa.trang:before{
    display:block;
    content:"";
    width:26px;
    height:26px;
    position:absolute;
    left:-4px;
    top:-4px;
    border:1px solid #e2e2e2;
    border-radius:50%
}
.filter-item--green *:hover{
    color:#51aa1b
}
.filter-item--half{
    display:inline-block;
    width:48%;
    white-space:nowrap;
    overflow:hidden;
    margin-right:3px
}
.filter-item--check-box input{
    display:none
}
.filter-item--check-box .fa{
    margin-right:5px;
    width:14px;
    position:relative
}
.filter-item--check-box input+.fa:before{
    content:"";
    margin-right:5px;
    border-radius:2px;
    font-size:18px;
    border:solid 1px #ebebeb;
    line-height:40px;
    position:absolute;
    top:-13px;
    height:15px !important;
    width:15px
}
.filter-item--check-box input:checked+.fa:after{
    font-family:'FontAwesome';
    content:"\f00c";
    color:#fff;
    position:absolute;
    width:15px;
    height:15px;
    line-height:15px;
    top:-13px;
    font-size:12px;
    left:2px
}
.filter-item--check-box input:checked+.fa:before{
    border-color:#51aa1b;
    background:#51aa1b
}
#sort-by{
    float:right;
    font-size:12px;
    text-align:left
}
#sort-by .button-asc,#sort-by .button-desc{
    background-color:#f8f8f8;
    box-shadow:none;
    float:right;
    height:30px;
    line-height:28px;
    margin-left:5px;
    text-align:center;
    width:30px
}
#sort-by label{
    float:left;
    line-height:38px;
    font-size:14px;
    margin-right:6px;
    margin-bottom:0;
    font-weight:500
}
#sort-by ul{
    margin:0;
    padding:0;
    list-style:none;
    display:inline;
    float:right
}
#sort-by a:link,#sort-by a:visited{
    color:#333;
    text-decoration:none
}
#sort-by>ul>li{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-position:right center;
    background-repeat:no-repeat;
    background-position:right 10px center;
    padding-right:28px;
    text-indent:.01px;
    cursor:pointer;
    line-height:36px;
    background-image:url(ico-selects.png) !important
}
#sort-by li{
    background:none repeat scroll 0 0 #fff;
    cursor:pointer;
    margin:0 auto;
    outline:medium none;
    padding:0 20px;
    position:relative;
    width:150px;
    float:left;
    color:#333;
    border:1px solid #e1e1e1;
    font-size:14px
}
#sort-by li>a{
    display:inline-block;
    width:100%;
    line-height:36px
}
#sort-by li li{
    width:100%;
    margin-top:0px;
    border-top:none;
    border-right:none;
    border-left:none
}
#sort-by li li a:hover{
    color:#fff
}
#sort-by li:hover{
    background-color:#fff
}
#sort-by li li:hover{
    background-color:#51aa1b;
    color:#fff
}
#sort-by li li:hover a{
    color:#fff
}
#sort-by ul ul{
    position:absolute;
    display:none;
    left:-1px;
    top:35px;
    background:none repeat scroll 0 0 #F8F8F8;
    z-index:10000;
    border-top:none;
    border:1px #e1e1e1 solid;
    width:150px
}
#sort-by ul ul li:last-child{
    border-bottom:none
}
#sort-by ul ul li a:hover,#sort-by ul ul li a:focus{
    color:#fff
}
#sort-by ul ul ul{
    position:absolute;
    left:100%;
    top:-2px;
    border:solid 1px transparent
}
#sort-by li:hover>ul{
    display:block
}
#popup-cart-desktop{
    width:800px;
    background:#fff;
    float:none;
    margin:0 auto;
    padding:0;
    position:relative;
    margin-top:50px
}
#popup-cart-desktop .title-popup-cart{
    font-size:13px;
    font-weight:700;
    color:#1c1c1c;
    text-transform:uppercase;
    letter-spacing:2.4px;
    padding-right:15px;
    padding:10px;
    background:#fff;
    border-bottom:1px solid #e5e5e5
}
#popup-cart-desktop .title-popup-cart i{
    color:#404040
}
#popup-cart-desktop .title-popup-cart .cart-popup-name a{
    color:#51aa1b !important;
    font-weight:500
}
#popup-cart-desktop .title-quantity-popup{
    font-size:12px;
    cursor:pointer;
    font-weight:500;
    padding:10px
}
#popup-cart-desktop .title-quantity-popup a{
    font-size:12px;
    font-weight:500;
    color:#1c1c1c;
    text-transform:uppercase;
    letter-spacing:1.5px
}
#popup-cart-desktop .title-quantity-popup a .cart-popup-count{
    color:#51aa1b
}
#popup-cart-desktop .content-popup-cart .thead-popup{
    background:#f7f7f7;
    float:left;
    width:100%;
    clear:both;
    padding:0 10px
}
#popup-cart-desktop .content-popup-cart .thead-popup>div{
    float:left;
    padding:6px 5px;
    font-size:13px;
    border-left:1px solid #fff;
    font-weight:500
}
#popup-cart-desktop .content-popup-cart .thead-popup>div:first-child{
    border-left:none
}
#popup-cart-desktop .content-popup-cart .tbody-popup{
    width:100%;
    float:left;
    clear:both;
    max-height:280px;
    overflow-x:auto;
    border:1px solid #f7f7f7;
    border-top:none
}
#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    border-radius:5px;
    background-color:#F5F5F5
}
#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar{
    width:5px;
    background-color:#F5F5F5
}
#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar-thumb{
    border-radius:5px;
    -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    background-color:#e5e5e5
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup{
    width:100%;
    float:left;
    clear:both;
    border-bottom:1px dotted #ddd;
    padding:0 10px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup:last-child{
    border-bottom:none
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup p{
    margin-bottom:0
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup p .add_sus{
    font-size:12px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div{
    float:left
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image{
    padding:10px;
    float:left
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image img{
    border:1px solid #d2d2d2
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info{
    padding:10px 0;
    padding-left:100px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a{
    display:block;
    margin-bottom:0;
    font-weight:500;
    font-size:14px;
    color:#1c1c1c;
    letter-spacing:1px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a:hover{
    color:#51aa1b
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .variant-title-popup{
    font-size:13px;
    margin-bottom:5px;
    color:#333333
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-remove a{
    font-size:11px;
    color:#bfbfbf;
    letter-spacing:1px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price{
    padding:10px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price span{
    display:block
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .price{
    color:#333;
    font-size:12px;
    font-weight:500
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-price{
    color:#333;
    font-size:12px;
    text-decoration:line-through;
    font-weight:500
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-divide{
    font-size:12px;
    color:#d71515
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-counts{
    border:1px solid #ddd;
    outline:none;
    background:#fff;
    height:24px;
    margin-top:10px;
    width:23px;
    text-align:center;
    vertical-align:middle;
    padding:0
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-counts.btn-minus{
    border-radius:3px 0 0 3px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-counts.btn-plus{
    border-radius:0 3px 3px 0
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .number-sidebar{
    border:1px solid #ddd;
    height:24px;
    margin-left:-1px;
    text-align:center;
    width:24px;
    vertical-align:top;
    margin-right:-1px;
    margin-top:10px;
    display:inline-block;
    min-height:24px;
    padding:0;
    border-radius:0;
    background-color:#fff
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .cart-price{
    display:block;
    font-weight:500;
    padding:10px;
    font-size:12px
}
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .date-tour{
    margin-bottom:10px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup{
    width:100%;
    float:left;
    clear:both
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1{
    padding:10px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship{
    font-size:13px;
    width:320px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship img{
    float:left;
    margin-right:10px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship p{
    line-height:20px;
    margin-bottom:0
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p{
    font-size:14px;
    font-weight:500;
    padding:0px 0;
    padding-bottom:0;
    margin-bottom:0
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p .total-price{
    color:#51aa1b
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popupcon a:hover,#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popupcon a:focus{
    cursor:pointer
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2{
    padding:10px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 a{
    cursor:pointer
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-continue{
    background:#f6f7f9;
    font-size:14px;
    float:left;
    border:1px solid #51aa1b;
    outline:none;
    color:#51aa1b;
    padding:10px;
    width:160px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-proceed-checkout{
    background:#f9c938;
    display:block;
    padding:10px;
    text-align:center;
    border-radius:0px;
    color:#fff;
    width:100%;
    font-size:12px;
    text-transform:uppercase;
    font-weight:500;
    letter-spacing:1.2px
}
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-proceed-checkout:hover,#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-proceed-checkout:focus{
    background:#51aa1b
}
#popup-cart-desktop .close-window{
    position:absolute;
    top:-10px;
    right:-10px;
    width:25px;
    height:25px;
    cursor:pointer;
    background:#000;
    border-radius:50%;
    z-index:8040;
    color:#fff;
    text-align:center;
    line-height:25px;
    font-size:25px
}
#popup-cart-desktop .close-window .fa{
    font-size:15px
}
.fancybox-skin{
    background:#fff !important
}
.modal-content{
    border:none;
    box-shadow:none;
    border-radius:0.5rem;
    position:relative;
    background-color:#fff;
    background-clip:padding-box;
    outline:0
}
.modal-header{
    background-color:#1c1c1c;
    color:#fff;
    padding:15px;
    border-bottom:1px solid #e5e5e5;
    min-height:16.42857143px;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem
}
@media (max-width: 480px){
    .modal-header{
        padding:10px
    }
}
.modal-body{
    position:relative;
    padding:15px
}
.modal-header .close{
    margin-top:-2px
}
button.close{
    padding:0;
    cursor:pointer;
    background:transparent;
    border:0;
    -webkit-appearance:none
}
.close{
    float:right;
    font-size:21px;
    font-weight:bold;
    line-height:1;
    color:#000;
    text-shadow:0 1px 0 #fff;
    opacity:0.2;
    filter:alpha(opacity=20)
}
.modal-header .modal-title{
    padding-left:6rem;
    position:relative;
    min-height:44px;
    font-weight:normal;
    font-size:18px;
    line-height:normal;
    margin:0;
    color:#fff
}
@media (max-width: 480px){
    .modal-header .modal-title{
        font-size:14px;
        min-height:34px;
        padding-left:40px;
        line-height:34px
    }
}
.modal-header .modal-title span{
    width:44px;
    height:44px;
    border-radius:100%;
    font-size:23px;
    text-align:center;
    line-height:44px;
    color:#1c1c1c;
    position:absolute;
    left:0;
    top:0;
    display:block;
    background-color:#fff
}
@media (max-width: 480px){
    .modal-header .modal-title span{
        height:34px;
        width:34px;
        line-height:32px
    }
}
.media:first-child{
    margin-top:0
}
.btn-outline-red{
    background:#fff;
    color:#1c1c1c;
    font-weight:500;
    letter-spacing:1px;
    font-size:13px;
    line-height:normal;
    padding:0px 15px;
    border-radius:0px;
    border:1px solid #1c1c1c;
    text-align:center;
    margin-top:10px;
    text-transform:uppercase
}
.btn-red{
    background:#1c1c1c;
    border:1px solid #1c1c1c;
    color:#fff !important;
    font-weight:500;
    letter-spacing:1px;
    font-size:13px;
    line-height:38px;
    height:40px;
    padding:0px 15px;
    border-radius:0;
    text-align:center;
    margin-top:7px !important;
    text-transform:uppercase
}
.media .media-left{
    padding-right:1em
}
.media-left,.media-right,.media-body{
    display:table-cell;
    vertical-align:top
}
.media .thumb-1x1{
    width:7.7rem
}
@media (max-width: 767px){
    #myModal .close{
        color:#fff !important
    }
}
@media (max-width: 767px){
    #myModal .modal-content,#myModal .modal-header{
        border-radius:0
    }
    #myModal .modal-body{
        padding:7px
    }
}
#myModal .media-body .product-title{
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:1.4px;
    font-weight:500
}
#myModal .media-body .product-new-price span{
    color:#51aa1b
}
.awe-section-1{
    margin-bottom:0
}
.awe-section-2{
    margin-bottom:0
}
.awe-section-3{
    margin-bottom:0
}
.awe-section-4{
    margin-bottom:0
}
.awe-section-5{
    margin-bottom:0
}
.awe-section-6{
    margin-bottom:0
}
.awe-section-7{
    margin-bottom:0
}
.awe-section-8{
    margin-bottom:0
}
.awe-section-9{
    margin-bottom:0
}
.awe-section-10{
    margin-bottom:0
}
.awe-section-11{
    margin-bottom:0
}
 