@keyframes placeHolderShimmer{
    0%{
        background-position:-468px 0
    }
    100%{
        background-position:468px 0
    }
}
.animated-background,.section_san_pham_moi .evo-product-block-item .product-img .image-resize img:not(.loaded),.section_banner .banner-with-effects img:not(.loaded),.section_san_pham .evo-block-san-pham .banner a img:not(.loaded),.section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize img:not(.loaded),.section_blogs a.evo-item-blogs .evo-article-image img:not(.loaded){
    animation-duration:1.25s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-name:placeHolderShimmer;
    animation-timing-function:linear;
    background:#F6F6F6;
    background:linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size:700px 104px;
    position:relative
}
.language-select{
    padding: 0 0!important;
}
.line-clamp{
    position:relative;
    height:39px;
    overflow:hidden;
    display:block
}
.line-clamp:after{
    content:"";
    text-align:right;
    position:absolute;
    bottom:0;
    right:0;
    width:20%;
    height:19px;
    background:linear-gradient(to right, rgba(255,255,255,0), #fff 50%)
}
.line-clamps{
    position:relative;
    height:44px;
    overflow:hidden;
    display:block
}
.line-clamps:after{
    content:"";
    text-align:right;
    position:absolute;
    bottom:0;
    right:0;
    width:20%;
    height:22px;
    background:linear-gradient(to right, rgba(255,255,255,0), #fff 50%)
}
@supports (-webkit-line-clamp: 2){
    .line-clamp{
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
        max-height:39px;
        height:auto;
        min-height:39px
    }
    .line-clamp:after,.line-clamps:after{
        display:none
    }
    .line-clamps{
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
        max-height:44px;
        height:auto;
        min-height:44px
    }
}
.single_image_effect{
    display:block;
    position:relative;
    overflow:hidden
}
.single_image_effect:before{
    position:absolute;
    top:50%;
    left:50%;
    z-index:2;
    display:block;
    content:'';
    width:0;
    height:0;
    background:rgba(255,255,255,0.2);
    border-radius:100%;
    opacity:0;
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%)
}
.single_image_effect:hover:before{
    -webkit-animation:circle 0.75s;
    -ms-animation:circle 0.75s;
    -o-animation:circle 0.75s;
    animation:circle 0.75s
}
@-ms-keyframes circle{
    0%{
        opacity:1
    }
    40%{
        opacity:1
    }
    100%{
        width:200%;
        height:200%;
        opacity:0
    }
}
@-o-keyframes circle{
    0%{
        opacity:1
    }
    40%{
        opacity:1
    }
    100%{
        width:200%;
        height:200%;
        opacity:0
    }
}
@-webkit-keyframes circle{
    0%{
        opacity:1
    }
    40%{
        opacity:1
    }
    100%{
        width:200%;
        height:200%;
        opacity:0
    }
}
@keyframes circle{
    0%{
        opacity:1
    }
    40%{
        opacity:1
    }
    100%{
        width:200%;
        height:200%;
        opacity:0
    }
}
.home-slider .slick-slide{
    margin:5px
}
.home-slider .slick-arrow{
    font-size:0;
    line-height:0;
    position:absolute;
    top:50%;
    display:block;
    width:30px;
    height:30px;
    padding:0;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    cursor:pointer;
    color:transparent;
    border:none;
    outline:none;
    background:transparent;
    line-height:30px;
    text-align:center;
    z-index:2
}
@media (max-width: 767px){
    .home-slider .slick-arrow{
        display:none !important
    }
}
.home-slider .slick-arrow.slick-prev{
    left:-15px
}
.home-slider .slick-arrow.slick-prev:before{
    content:"";
    background-image:url(https://bizweb.dktcdn.net/100/360/151/themes/727143/assets/back.svg?1563959345348);
    height:30px;
    width:30px;
    display:block
}
.home-slider .slick-arrow.slick-next{
    right:-15px
}
.home-slider .slick-arrow.slick-next:before{
    content:"";
    background-image:url(https://bizweb.dktcdn.net/100/360/151/themes/727143/assets/right-arrow.svg?1563959345348);
    height:30px;
    width:30px;
    display:block
}
.home-slider .slick-dots{
    text-align:center
}
.home-slider .slick-dots li{
    display:inline-block
}
.home-slider .slick-dots li button{
    border:none;
    height:10px;
    width:10px;
    border-radius:50%;
    outline:none;
    box-shadow:none;
    background-color:rgba(0,0,0,0.3);
    font-size:0;
    padding:0;
    display:block
}
.home-slider .slick-dots li+li{
    margin-left:5px
}
.home-slider .slick-dots li.slick-active button{
    background-color:#51aa1b
}
.home-slider .slick-slide{
    margin:0
}
.home-slider .slick-dots{
    position:absolute;
    bottom:10px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    background-color:rgba(255,255,255,0.5);
    border-radius:15px;
    height:24px;
    align-items:center;
    display:flex !important;
    justify-content:center
}
.section_san_pham_moi{
    position:relative
}
.section_san_pham_moi:before{
    background:url(https://bizweb.dktcdn.net/100/360/151/themes/727143/assets/wave_white.svg?1563959345348) no-repeat top left;
    content:"";
    position:absolute;
    width:100%;
    height:200px;
    top:-199px;
    z-index:100
}
@media (max-width: 991px){
    .section_san_pham_moi:before{
        display:none
    }
}
@media (max-width: 991px){
    .section_san_pham_moi{
        margin:25px 0
    }
}
.section_san_pham_moi .new_title{
    text-align:left;
    margin-bottom:0px;
    margin-top:-130px;
    position:relative;
    z-index:100
}
@media (max-width: 991px){
    .section_san_pham_moi .new_title{
        margin-top:0
    }
}
@media (max-width: 767px){
    .section_san_pham_moi .new_title{
        text-align:center
    }
}
.section_san_pham_moi .new_title h4{
    background:#f9c938;
    color:#000;
    padding:6px 15px;
    border-radius:3px;
    display:inline-block;
    font-weight:500;
    font-size:16px;
    letter-spacing:1px;
    margin:0px;
    text-transform:uppercase
}
@media (max-width: 991px){
    .section_san_pham_moi .new_title h4{
        font-size:14px
    }
}
@media (max-width: 767px){
    .section_san_pham_moi .new_title h4{
        font-size:12px
    }
}
.section_san_pham_moi .new_title h2{
    color:#292929;
    font-size:40px;
    font-weight:500;
    margin:0;
    padding-top:10px;
    position:relative;
    display:block;
    text-transform:uppercase
}
.section_san_pham_moi .new_title h2 a{
    color:#292929
}
.section_san_pham_moi .new_title h2 a:hover,.section_san_pham_moi .new_title h2 a:focus{
    color:#51aa1b
}
@media (max-width: 991px){
    .section_san_pham_moi .new_title h2{
        font-size:35px
    }
}
@media (max-width: 767px){
    .section_san_pham_moi .new_title h2{
        font-size:25px;
        padding-top:4px
    }
}
.section_san_pham_moi .new_title p{
    font-size:16px;
    margin:0;
    display:block;
    width:45%;
    font-weight:400;
    color:#b7b7b7
}
@media (max-width: 991px){
    .section_san_pham_moi .new_title p{
        font-size:14px
    }
}
@media (max-width: 767px){
    .section_san_pham_moi .new_title p{
        font-size:13px;
        width:100%
    }
}
.section_san_pham_moi .product-blocks{
    margin-top:25px
}
.section_san_pham_moi .product-blocks .evo-owl-product{
    margin-left:-5px;
    margin-right:-5px
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-slide{
    margin:5px
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-arrow{
    font-size:0;
    line-height:0;
    position:absolute;
    top:50%;
    display:block;
    width:30px;
    height:30px;
    padding:0;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    cursor:pointer;
    color:transparent;
    border:none;
    outline:none;
    background:transparent;
    line-height:30px;
    text-align:center;
    z-index:2
}
@media (max-width: 767px){
    .section_san_pham_moi .product-blocks .evo-owl-product .slick-arrow{
        display:none !important
    }
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-arrow.slick-prev{
    left:-15px
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-arrow.slick-prev:before{
    content:"";
    background-image:url(https://bizweb.dktcdn.net/100/360/151/themes/727143/assets/back.svg?1563959345348);
    height:30px;
    width:30px;
    display:block
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-arrow.slick-next{
    right:-15px
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-arrow.slick-next:before{
    content:"";
    background-image:url(https://bizweb.dktcdn.net/100/360/151/themes/727143/assets/right-arrow.svg?1563959345348);
    height:30px;
    width:30px;
    display:block
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-dots{
    text-align:center
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-dots li{
    display:inline-block
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-dots li button{
    border:none;
    height:10px;
    width:10px;
    border-radius:50%;
    outline:none;
    box-shadow:none;
    background-color:rgba(0,0,0,0.3);
    font-size:0;
    padding:0;
    display:block
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-dots li+li{
    margin-left:5px
}
.section_san_pham_moi .product-blocks .evo-owl-product .slick-dots li.slick-active button{
    background-color:#51aa1b
}
.section_san_pham_moi .evo-product-block-item .product-img .image-resize{
    display:block;
    position:relative;
    height:280px
}
@media (max-width: 1024px){
    .section_san_pham_moi .evo-product-block-item .product-img .image-resize{
        height:230px
    }
}
@media (max-width: 991px){
    .section_san_pham_moi .evo-product-block-item .product-img .image-resize{
        height:237px
    }
}
@media (max-width: 767px){
    .section_san_pham_moi .evo-product-block-item .product-img .image-resize{
        height:353px
    }
}
@media (max-width: 668px){
    .section_san_pham_moi .evo-product-block-item .product-img .image-resize{
        height:319px
    }
}
@media (max-width: 569px){
    .section_san_pham_moi .evo-product-block-item .product-img .image-resize{
        height:269px
    }
}
@media (max-width: 480px){
    .section_san_pham_moi .evo-product-block-item .product-img .image-resize{
        height:195px
    }
}
@media (max-width: 376px){
    .section_san_pham_moi .evo-product-block-item .product-img .image-resize{
        height:176px
    }
}
@media (max-width: 321px){
    .section_san_pham_moi .evo-product-block-item .product-img .image-resize{
        height:148px
    }
}
.section_san_pham_moi .evo-product-block-item .product-img .image-resize img{
    width:auto !important;
    max-height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto
}
.section_san_pham_moi .evo-product-block-item .product-img .image-resize img:not(.loaded){
    width:100% !important;
    height:100% !important;
    opacity:0.2
}
.section_banner{
    margin:25px 0
}
.section_banner .banner-with-effects{
    position:relative
}
@media (max-width: 767px){
    .section_banner .banner-with-effects+.banner-with-effects{
        margin-top:20px
    }
}
@media (max-width: 480px){
    .section_banner .banner-with-effects+.banner-with-effects{
        margin-top:7px
    }
}
.section_banner .banner-with-effects .figcaption{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:10px;
    color:#fff
}
.section_banner .banner-with-effects .figcaption::before{
    background:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    opacity:0
}
.section_banner .banner-with-effects .figcaption .banner-content{
    left:10px;
    top:10px;
    right:auto;
    bottom:auto;
    display:inline-block;
    position:absolute;
    text-align:left;
    padding:40px;
    margin:0px
}
@media (max-width: 1024px){
    .section_banner .banner-with-effects .figcaption .banner-content{
        padding:30px
    }
}
@media (max-width: 991px){
    .section_banner .banner-with-effects .figcaption .banner-content{
        padding:15px
    }
}
@media (max-width: 767px){
    .section_banner .banner-with-effects .figcaption .banner-content{
        padding:10px
    }
}
.section_banner .banner-with-effects .figcaption .banner-content .small-title{
    color:#51aa1b;
    font-size:19px;
    letter-spacing:1px;
    font-weight:500;
    text-transform:uppercase
}
@media (max-width: 1024px){
    .section_banner .banner-with-effects .figcaption .banner-content .small-title{
        font-size:16px
    }
}
@media (max-width: 767px){
    .section_banner .banner-with-effects .figcaption .banner-content .small-title{
        font-size:14px
    }
}
.section_banner .banner-with-effects .figcaption .banner-content .big-title{
    font-size:34px;
    color:#131e2c;
    margin-top:10px;
    display:block;
    line-height:1.2em
}
@media (max-width: 1024px){
    .section_banner .banner-with-effects .figcaption .banner-content .big-title{
        font-size:30px
    }
}
@media (max-width: 991px){
    .section_banner .banner-with-effects .figcaption .banner-content .big-title{
        font-size:25px
    }
}
@media (max-width: 767px){
    .section_banner .banner-with-effects .figcaption .banner-content .big-title{
        font-size:20px;
        margin-top:5px
    }
}
.section_banner .banner-with-effects .figcaption .banner-content .btn_type{
    padding:10px 35px;
    font-size:16px;
    text-transform:uppercase;
    font-weight:500;
    color:#fff;
    margin-top:20px;
    background-color:#d73e6e;
    border-radius:999px;
    display:inline-block
}
@media (max-width: 1024px){
    .section_banner .banner-with-effects .figcaption .banner-content .btn_type{
        font-size:14px
    }
}
@media (max-width: 1024px){
    .section_banner .banner-with-effects .figcaption .banner-content .btn_type{
        padding:10px 25px
    }
}
@media (max-width: 767px){
    .section_banner .banner-with-effects .figcaption .banner-content .btn_type{
        padding:7px 20px;
        font-size:13px
    }
}
.section_banner .banner-with-effects .figcaption .banner-content .btn_type:hover,.section_banner .banner-with-effects .figcaption .banner-content .btn_type:focus{
    color:#fff;
    background-color:#bb2755
}
.section_banner .banner-with-effects .figcaption .banner-content .btn_type.btn_type_last{
    background-color:#fdce3a
}
.section_banner .banner-with-effects .figcaption .banner-content .btn_type.btn_type_last:hover,.section_banner .banner-with-effects .figcaption .banner-content .btn_type.btn_type_last:focus{
    color:#fff;
    background-color:#fcc108
}
.section_banner .banner-with-effects img:not(.loaded){
    width:100% !important;
    height:327px;
    opacity:0.2
}
@media (max-width: 1024px){
    .section_banner .banner-with-effects img:not(.loaded){
        height:269px
    }
}
@media (max-width: 991px){
    .section_banner .banner-with-effects img:not(.loaded){
        height:205px
    }
}
@media (max-width: 767px){
    .section_banner .banner-with-effects img:not(.loaded){
        height:350px
    }
}
@media (max-width: 668px){
    .section_banner .banner-with-effects img:not(.loaded){
        height:350px
    }
}
@media (max-width: 569px){
    .section_banner .banner-with-effects img:not(.loaded){
        height:317px
    }
}
@media (max-width: 480px){
    .section_banner .banner-with-effects img:not(.loaded){
        height:231px
    }
}
@media (max-width: 376px){
    .section_banner .banner-with-effects img:not(.loaded){
        height:209px
    }
}
@media (max-width: 321px){
    .section_banner .banner-with-effects img:not(.loaded){
        height:177px
    }
}
.section_san_pham{
    margin-bottom:0px
}
@media (max-width: 991px){
    .section_san_pham{
        margin-bottom:20px
    }
}
@media (max-width: 767px){
    .section_san_pham{
        margin-bottom:10px
    }
}
.section_san_pham .san-pham-title{
    margin-bottom:15px
}
@media (max-width: 767px){
    .section_san_pham .san-pham-title{
        position:relative
    }
}
.section_san_pham .san-pham-title h2{
    color:#292929;
    font-size:35px;
    font-weight:500;
    margin:0;
    padding-top:10px;
    position:relative;
    display:block;
    text-transform:uppercase
}
@media (max-width: 991px){
    .section_san_pham .san-pham-title h2{
        font-size:35px
    }
}
@media (max-width: 767px){
    .section_san_pham .san-pham-title h2{
        font-size:20px;
        padding-top:4px
    }
}
.section_san_pham .san-pham-title .button_show_tab{
    color:#51aa1b;
    position:absolute;
    right:8px;
    z-index:99;
    top:11px;
    height:14px;
    line-height:14px;
    background:#fff
}
.section_san_pham .san-pham-title .button_show_tab span{
    background-color:#1c1c1c;
    display:block;
    width:22px;
    height:2px;
    border-radius:1px
}
.section_san_pham .san-pham-title .button_show_tab span+span{
    margin-top:4px
}
.section_san_pham .san-pham-title .button_show_tab span:nth-child(2){
    width:70%
}
.section_san_pham .san-pham-title .button_show_tab.active span{
    background-color:#51aa1b
}
.section_san_pham .san-pham-title ul li{
    display:inline-block
}
.section_san_pham .san-pham-title ul li+li{
    margin-left:5px;
    border-left:1px solid rgba(0,0,0,0.1);
    padding-left:5px
}
@media (max-width: 767px){
    .section_san_pham .san-pham-title ul li+li{
        margin-left:0;
        padding-left:0;
        border-left:none;
        border-top:1px solid rgba(0,0,0,0.1)
    }
}
.section_san_pham .san-pham-title ul li a{
    font-weight:400;
    color:#333
}
@media (max-width: 767px){
    .section_san_pham .san-pham-title ul li a{
        display:block;
        padding:5px 0
    }
}
.section_san_pham .san-pham-title ul li a:hover,.section_san_pham .san-pham-title ul li a:focus{
    color:#51aa1b
}
@media (max-width: 767px){
    .section_san_pham .san-pham-title ul li{
        display:block
    }
}
@media (max-width: 767px){
    .section_san_pham .san-pham-title ul{
        display:none;
        width:100%;
        right:0;
        left:0;
        background-color:#fff;
        z-index:99;
        padding:0 7px;
        top:40px;
        -webkit-box-shadow:0px 2px 6px 0px rgba(50,50,50,0.33);
        -moz-box-shadow:0px 2px 6px 0px rgba(50,50,50,0.33);
        box-shadow:0px 2px 6px 0px rgba(50,50,50,0.33);
        position:absolute
    }
}
.section_san_pham .evo-block-san-pham .banner a{
    display:block
}
.section_san_pham .evo-block-san-pham .banner a+a{
    margin-top:15px
}
.section_san_pham .evo-block-san-pham .banner a img:not(.loaded){
    width:100% !important;
    height:357px;
    opacity:0.2
}
@media (max-width: 1024px){
    .section_san_pham .evo-block-san-pham .banner a img:not(.loaded){
        height:292px
    }
}
@media (max-width: 991px){
    .section_san_pham .evo-block-san-pham .banner a img:not(.loaded){
        height:466px
    }
}
@media (max-width: 767px){
    .section_san_pham .evo-block-san-pham .banner a img:not(.loaded){
        height:456px
    }
}
@media (max-width: 668px){
    .section_san_pham .evo-block-san-pham .banner a img:not(.loaded){
        height:411px
    }
}
@media (max-width: 569px){
    .section_san_pham .evo-block-san-pham .banner a img:not(.loaded){
        height:346px
    }
}
@media (max-width: 480px){
    .section_san_pham .evo-block-san-pham .banner a img:not(.loaded){
        height:258px
    }
}
@media (max-width: 376px){
    .section_san_pham .evo-block-san-pham .banner a img:not(.loaded){
        height:233px
    }
}
@media (max-width: 321px){
    .section_san_pham .evo-block-san-pham .banner a img:not(.loaded){
        height:196px
    }
}
@media (max-width: 991px){
    .section_san_pham .evo-block-san-pham .banner{
        margin-right:-10px;
        margin-left:-10px
    }
    .section_san_pham .evo-block-san-pham .banner a{
        width:50%;
        float:left;
        padding-left:10px;
        padding-right:10px
    }
    .section_san_pham .evo-block-san-pham .banner a+a{
        margin-top:0
    }
}
@media (max-width: 767px){
    .section_san_pham .evo-block-san-pham .banner{
        margin-top:10px
    }
}
@media (max-width: 480px){
    .section_san_pham .evo-block-san-pham .banner{
        margin-right:-7px;
        margin-left:-7px
    }
    .section_san_pham .evo-block-san-pham .banner a{
        padding-left:7px;
        padding-right:3.5px
    }
    .section_san_pham .evo-block-san-pham .banner a+a{
        padding-left:3.5px;
        padding-right:7px
    }
}
.section_san_pham .evo-block-san-pham .evo-block-product{
    margin-left:-5px;
    margin-right:-5px
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-slide{
    margin:5px
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-arrow{
    font-size:0;
    line-height:0;
    position:absolute;
    top:50%;
    display:block;
    width:30px;
    height:30px;
    padding:0;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    cursor:pointer;
    color:transparent;
    border:none;
    outline:none;
    background:transparent;
    line-height:30px;
    text-align:center;
    z-index:2
}
@media (max-width: 767px){
    .section_san_pham .evo-block-san-pham .evo-block-product .slick-arrow{
        display:none !important
    }
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-arrow.slick-prev{
    left:-15px
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-arrow.slick-prev:before{
    content:"";
    background-image:url(https://bizweb.dktcdn.net/100/360/151/themes/727143/assets/back.svg?1563959345348);
    height:30px;
    width:30px;
    display:block
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-arrow.slick-next{
    right:-15px
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-arrow.slick-next:before{
    content:"";
    background-image:url(https://bizweb.dktcdn.net/100/360/151/themes/727143/assets/right-arrow.svg?1563959345348);
    height:30px;
    width:30px;
    display:block
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-dots{
    text-align:center
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-dots li{
    display:inline-block
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-dots li button{
    border:none;
    height:10px;
    width:10px;
    border-radius:50%;
    outline:none;
    box-shadow:none;
    background-color:rgba(0,0,0,0.3);
    font-size:0;
    padding:0;
    display:block
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-dots li+li{
    margin-left:5px
}
.section_san_pham .evo-block-san-pham .evo-block-product .slick-dots li.slick-active button{
    background-color:#51aa1b
}
@media (max-width: 767px){
    .section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item{
        margin-bottom:10px
    }
}
.section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item{
    margin-bottom:10px
}
.section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize{
    display:block;
    position:relative;
    height:279px
}
@media (max-width: 1024px){
    .section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize{
        height:229px
    }
}
@media (max-width: 991px){
    .section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize{
        height:237px
    }
}
@media (max-width: 767px){
    .section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize{
        height:353px
    }
}
@media (max-width: 668px){
    .section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize{
        height:319px
    }
}
@media (max-width: 569px){
    .section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize{
        height:269px
    }
}
@media (max-width: 480px){
    .section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize{
        height:195px
    }
}
@media (max-width: 376px){
    .section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize{
        height:176px
    }
}
@media (max-width: 321px){
    .section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize{
        height:148px
    }
}
.section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize img{
    width:auto !important;
    max-height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto
}
.section_san_pham .evo-block-san-pham .evo-block-product .evo-product-block-item .product-img .image-resize img:not(.loaded){
    width:100% !important;
    height:100% !important;
    opacity:0.2
}
.section_blogs{
    margin-bottom:20px
}
.section_blogs .new_title{
    text-align:left;
    margin-bottom:25px;
    position:relative
}
@media (max-width: 767px){
    .section_blogs .new_title{
        text-align:center;
        margin-bottom:15px
    }
}
.section_blogs .new_title h2{
    color:#292929;
    font-size:35px;
    font-weight:500;
    margin:0;
    padding-top:10px;
    position:relative;
    display:block;
    text-transform:uppercase
}
@media (max-width: 991px){
    .section_blogs .new_title h2{
        font-size:35px
    }
}
@media (max-width: 767px){
    .section_blogs .new_title h2{
        font-size:25px;
        padding-top:4px
    }
}
.section_blogs .new_title h2 a{
    color:#292929
}
.section_blogs .new_title h2 a:hover,.section_blogs .new_title h2 a:focus{
    color:#51aa1b
}
.section_blogs .new_title p{
    font-size:14px;
    margin:0;
    display:block;
    width:45%;
    font-weight:400;
    color:#b7b7b7
}
@media (max-width: 991px){
    .section_blogs .new_title p{
        font-size:14px
    }
}
@media (max-width: 767px){
    .section_blogs .new_title p{
        font-size:13px;
        width:100%
    }
}
.section_blogs a.evo-item-blogs{
    width:100%;
    height:100%;
    display:inline-block;
    overflow:hidden;
    position:relative
}
.section_blogs a.evo-item-blogs .evo-article-image{
    position:relative;
    overflow:hidden;
    height:187px
}
@media (max-width: 1024px){
    .section_blogs a.evo-item-blogs .evo-article-image{
        height:153px
    }
}
@media (max-width: 991px){
    .section_blogs a.evo-item-blogs .evo-article-image{
        height:158px
    }
}
@media (max-width: 767px){
    .section_blogs a.evo-item-blogs .evo-article-image{
        height:235px
    }
}
@media (max-width: 668px){
    .section_blogs a.evo-item-blogs .evo-article-image{
        height:213px
    }
}
@media (max-width: 569px){
    .section_blogs a.evo-item-blogs .evo-article-image{
        height:179px
    }
}
@media (max-width: 480px){
    .section_blogs a.evo-item-blogs .evo-article-image{
        height:267px
    }
}
@media (max-width: 376px){
    .section_blogs a.evo-item-blogs .evo-article-image{
        height:241px
    }
}
@media (max-width: 321px){
    .section_blogs a.evo-item-blogs .evo-article-image{
        height:204px
    }
}
.section_blogs a.evo-item-blogs .evo-article-image img{
    -webkit-transition:opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    width:auto !important;
    max-height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto
}
.section_blogs a.evo-item-blogs .evo-article-image img:not(.loaded){
    width:100% !important;
    height:100% !important;
    opacity:0.2
}
.section_blogs a.evo-item-blogs h3{
    color:#1c1c1c;
    font-size:13px;
    font-weight:500;
    text-transform:uppercase;
    line-height:1.67;
    margin-top:10px;
    margin-bottom:0;
    text-align:center;
    padding:0 10px
}
.section_blogs a.evo-item-blogs p{
    font-size:13px;
    line-height:25px;
    letter-spacing:0.52px;
    margin-bottom:0;
    color:#1c1c1c;
    text-align:left;
    padding:0 10px;
    padding-bottom:10px;
    word-wrap:break-word
}
.section_blogs a.evo-item-blogs:hover .evo-article-image img{
    -webkit-transform:scale(1.1);
    transform:scale(1.1)
}
.section_blogs a.evo-item-blogs:hover h3{
    color:#51aa1b
}
.section_blogs a.evo-item-blogs:hover p{
    color:#1c1c1c
}
.section_blogs .evo-owl-blog{
    margin-left:-5px;
    margin-right:-5px
}
.section_blogs .evo-owl-blog .slick-slide{
    margin:5px
}
.section_blogs .evo-owl-blog .slick-arrow{
    font-size:0;
    line-height:0;
    position:absolute;
    top:50%;
    display:block;
    width:30px;
    height:30px;
    padding:0;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    cursor:pointer;
    color:transparent;
    border:none;
    outline:none;
    background:transparent;
    line-height:30px;
    text-align:center;
    z-index:2
}
@media (max-width: 767px){
    .section_blogs .evo-owl-blog .slick-arrow{
        display:none !important
    }
}
.section_blogs .evo-owl-blog .slick-arrow.slick-prev{
    left:-15px
}
.section_blogs .evo-owl-blog .slick-arrow.slick-prev:before{
    content:"";
    background-image:url(https://bizweb.dktcdn.net/100/360/151/themes/727143/assets/back.svg?1563959345348);
    height:30px;
    width:30px;
    display:block
}
.section_blogs .evo-owl-blog .slick-arrow.slick-next{
    right:-15px
}
.section_blogs .evo-owl-blog .slick-arrow.slick-next:before{
    content:"";
    background-image:url(https://bizweb.dktcdn.net/100/360/151/themes/727143/assets/right-arrow.svg?1563959345348);
    height:30px;
    width:30px;
    display:block
}
.section_blogs .evo-owl-blog .slick-dots{
    text-align:center
}
.section_blogs .evo-owl-blog .slick-dots li{
    display:inline-block
}
.section_blogs .evo-owl-blog .slick-dots li button{
    border:none;
    height:10px;
    width:10px;
    border-radius:50%;
    outline:none;
    box-shadow:none;
    background-color:rgba(0,0,0,0.3);
    font-size:0;
    padding:0;
    display:block
}
.section_blogs .evo-owl-blog .slick-dots li+li{
    margin-left:5px
}
.section_blogs .evo-owl-blog .slick-dots li.slick-active button{
    background-color:#51aa1b
}
 