﻿.title-head{
    font-size:1.42857em;
    color:#333;
    text-decoration:none
}
.title-head a{
    color:#333
}
.title-head a:hover{
    color:#51aa1b
}
.subtitle-head{
    font-size:1.28571em;
    color:#333;
    margin:20px 0
}
.product-box{
    text-align:left;
    margin-bottom:30px;
    background:#fff;
    position:relative;
    overflow:hidden
}
.product-box .product-thumbnail{
    position:relative;
    overflow:hidden
}
.product-box .product-info{
    z-index:10;
    position:relative;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px
}
.product-box .product-name{
    font-size:1em;
    line-height:1.15;
    color:#333;
    font-weight:500;
    margin-top:10px;
    margin-bottom:5px;
    padding-bottom:2px
}
.product-box .product-name a{
    color:#222;
    text-decoration:none
}
.product-box .product-name a:hover{
    color:#51aa1b
}
.product-box .product-name:hover,.product-box .product-name:focus{
    color:#51aa1b
}
.product-box .price-box{
    min-height:49px
}
.product-box .price-box .special-price{
    display:block;
    width:100%
}
.product-box .price-box .special-price .product-price{
    color:#51aa1b;
    font-size:1.07143em;
    line-height:1.71429em;
    display:inline-block;
    font-weight:500
}
.product-box .price-box .old-price{
    display:inline-block
}
.product-box .price-box .old-price .product-price-old{
    text-decoration:line-through;
    font-size:.92857em;
    margin:0 0 0 0px;
    display:inline-block;
    color:#878787
}
.product-box .price-box .sale-flash{
    position:absolute;
    font-size:.92857em;
    top:10px;
    left:10px;
    text-align:center;
    z-index:9;
    text-transform:uppercase;
    font-weight:500
}
.product-box .product-summary{
    font-size:1em;
    color:#acacac;
    line-height:20px
}
.product-box form{
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1)
}
.product-price{
    color:#323c3f;
    font-size:1.42857em;
    line-height:24px;
    display:block;
    font-weight:700
}
.products-view-list .product-box .product-thumbnail{
    text-align:center;
    margin-bottom:0;
    width:calc(100% / 3);
    float:left
}
@media (max-width: 480px){
    .products-view-list .product-box .product-thumbnail{
        width:100%;
        float:none;
        margin-bottom:15px
    }
}
.products-view-list .product-box .product-info{
    text-align:left;
    margin-left:30px;
    float:left;
    width:calc(100% / 3 * 2 - 30px);
    background:transparent;
    border-top:none
}
@media (max-width: 480px){
    .products-view-list .product-box .product-info{
        float:none;
        margin-left:0;
        width:100%
    }
}
.breadcrumb{
    margin:0;
    font-size:1em;
    padding:10px 0;
    background-color:#fff;
    border-radius:0
}
.breadcrumb li{
    display:inline
}
.breadcrumb li>a{
    color:#333
}
.breadcrumb li>a>span{
    color:#333
}
.breadcrumb li>a>span:hover,.breadcrumb li>a>span:focus{
    color:#51aa1b;
    text-decoration:none
}
.breadcrumb li>a:hover,.breadcrumb li>a:focus{
    color:#51aa1b;
    text-decoration:none
}
.breadcrumb li span{
    display:inline;
    color:#51aa1b;
    padding:0 2px
}
.breadcrumb li span .fa{
    color:#666
}
.breadcrumb li a:hover,.breadcrumb li.active,.breadcrumb li strong{
    color:#333;
    font-weight:500
}
.breadcrumb>li+li:before{
    display:none
}
.pagination{
    margin-bottom:20px
}
.pagination .page-link{
    float:left;
    margin:0 2.5px;
    width:36px;
    background:#fff;
    text-align:center;
    height:36px;
    font-size:14px;
    line-height:32px;
    color:#000;
    border-radius:0;
    border:1px solid transparent;
    text-decoration:none;
    border-radius:3px !important;
    padding:0
}
.pagination .page-link:hover,.pagination .page-link:focus{
    background-color:#fff;
    border:1px solid #51aa1b;
    color:#51aa1b
}
@media (max-width: 480px){
    .pagination .page-link{
        width:24px;
        height:24px;
        line-height:20px;
        margin:0 2px;
        font-size:12px
    }
}
.pagination .page-link svg{
    position:relative;
    top:2px
}
.pagination .page-item.disabled .page-link{
    color:#000;
    background:#fff;
    border:1px solid transparent
}
.pagination .page-item.active .page-link{
    background-color:#fff;
    border:1px solid #51aa1b;
    color:#51aa1b
}
header{
    background:#fff
}
.header_search{
    padding:10px 0 15px
}
.header_search input{
    float:right
}
.header_search .input-group{
    width:100%;
    margin-bottom:0
}
.header_search button{
    padding:0 8px;
    background:transparent
}
.header_search button img{
    margin-top:6px
}
.mini-cart{
    z-index:10;
    text-align:center
}
.mini-cart:hover:before,.mini-cart:hover .top-cart-content{
    display:block !important
}
.mini-cart .dropdown-toggle{
    font-size:12px;
    padding:0;
    text-transform:none
}
.top-cart-contain{
    color:#333;
    padding:0;
    right:0
}
.top-cart-contain .price{
    color:#51aa1b;
    text-transform:uppercase
}
.top-cart-contain .mini-cart .price{
    margin-right:5px;
    font-size:16px;
    font-weight:700
}
.top-cart-contain .product-details .price{
    color:#51aa1b;
    width:auto;
    float:none;
    font-weight:400;
    padding-left:0;
    font-size:12px
}
.top-cart-content{
    display:none;
    position:absolute;
    right:0;
    background:#fff;
    padding:0;
    text-align:left;
    z-index:10000;
    border-radius:0;
    -webkit-box-shadow:0px 2px 6px 0px rgba(50,50,50,0.33);
    -moz-box-shadow:0px 2px 6px 0px rgba(50,50,50,0.33);
    box-shadow:0px 2px 6px 0px rgba(50,50,50,0.33);
    top:45px
}
.top-cart-content .empty{
    text-align:left;
    color:#333
}
.top-cart-content .product-name{
    margin:0;
    width:150px;
    line-height:1;
    padding-right:10px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden
}
.top-cart-content .product-name a{
    font-size:1em;
    line-height:normal;
    line-height:20px !important;
    font-weight:500;
    color:#1c1c1c
}
.top-cart-content .product-name a:hover,.top-cart-content .product-name a:focus{
    color:#51aa1b
}
.top-cart-content .list-item-cart{
    max-height:250px;
    overflow-y:scroll
}
.top-cart-content .list-item-cart::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    border-radius:5px;
    background-color:#F5F5F5
}
.top-cart-content .list-item-cart::-webkit-scrollbar{
    width:5px;
    background-color:#F5F5F5
}
.top-cart-content .list-item-cart::-webkit-scrollbar-thumb{
    border-radius:5px;
    -webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
    background-color:#e5e5e5
}
.top-cart-content li{
    list-style:none
}
.top-cart-content li.item{
    border-top:1px solid #eee;
    overflow:hidden;
    padding:20px 0;
    position:relative
}
.top-cart-content li.item:first-child{
    border-top:none;
    padding-top:10px
}
.top-cart-content li.item:last-child{
    margin:0;
    border-bottom:none
}
.top-cart-content li.item .product-image{
    float:left;
    display:block;
    width:80px;
    margin-right:10px
}
.top-cart-content li.item .detail-item{
    padding-left:90px
}
.top-cart-content li.item .detail-item .fa{
    position:absolute;
    right:10px;
    color:#1c1c1c
}
.top-cart-content li.item .detail-item .fa:hover,.top-cart-content li.item .detail-item .fa:focus{
    color:#51aa1b
}
.top-cart-content li.item .detail-item .product-details-bottom .price.pricechange{
    display:block;
    margin-bottom:7px
}
.top-cart-content li.item .detail-item input{
    display:inline-block;
    width:45px;
    padding:0;
    text-align:center;
    min-height:30px;
    height:30px;
    margin-bottom:0;
    float:left;
    border-radius:0;
    border-left:none;
    border-right:none
}
.top-cart-content li.item .detail-item input[disabled]{
    border:1px solid #ebebeb;
    background-color:#fff;
    border-left:none;
    border-right:none
}
.top-cart-content li.item .detail-item button.items-counts{
    display:inline-block;
    box-shadow:none;
    outline:none;
    background-color:#fff;
    border:1px solid #e5e5e5;
    height:30px;
    float:left
}
.top-cart-content .block-subtitle{
    color:#333;
    overflow:hidden;
    padding:15px;
    text-align:left;
    font-size:.92857em;
    background:#f5f5f5;
    text-transform:none;
    font-weight:400;
    border-bottom:1px #ddd solid
}
.top-cart-content .actions .btn{
    border-radius:0px;
    border:1px solid #51aa1b;
    color:#fff;
    background-color:#51aa1b;
    min-width:145px;
    text-transform:uppercase
}
.top-cart-content .actions .btn+.btn{
    float:right
}
.top-cart-content .actions .btn:hover,.top-cart-content .actions .btn:focus{
    color:#fff;
    background-color:#428b16;
    border-color:#428b16
}
.top-subtotal{
    color:#333;
    font-size:1.14286em;
    font-weight:400;
    padding:12px 0;
    border-top:1px dashed #e5e5e5;
    text-align:left;
    text-transform:none
}
.top-subtotal .price{
    font-weight:500;
    color:#51aa1b;
    float:right
}
ul#cart-sidebar{
    padding:10px;
    margin:0;
    max-height:582px;
    min-width:320px
}
ul#cart-sidebar li.list-item{
    max-height:400px;
    overflow-y:auto
}
ul#cart-sidebar li.action{
    display:block
}
ul#cart-sidebar .no-item p{
    margin-bottom:0
}
ul#cart-sidebar.hasclass li.action{
    display:block
}
ul#cart-sidebar li.list-item .price2{
    font-weight:700;
    color:#f94e3f;
    font-size:14px;
    display:list-item;
    margin-bottom:5px
}
ul#cart-sidebar li.list-item::-webkit-scrollbar{
    width:5px
}
ul#cart-sidebar li.list-item::-webkit-scrollbar-track{
    background:rgba(255,255,255,0.9)
}
ul#cart-sidebar li.list-item::-webkit-scrollbar-thumb{
    background:#51aa1b;
    border-radius:15px
}
ul#cart-sidebar li.list-item::-webkit-scrollbar-thumb:hover,ul#cart-sidebar li.list-item::-webkit-scrollbar-thumb:active{
    background:#51aa1b;
    border-radius:15px
}
.li-fix-1{
    background:#FFF;
    border-top:1px solid #ebebeb;
    display:block
}
.li-fix-2{
    display:block;
    width:295px
}
header .nav{
    position:relative
}
header .nav-item{
    float:left;
    position:relative;
    flex:auto
}
header .nav-item.has-mega{
    position:static
}
header .nav-item:hover,header .nav-item:focus{
    background-color:transparent
}
header .nav-item>a{
    color:#fff;
    font-size:14px;
    padding:10px;
    font-weight:500;
    text-transform:uppercase;
    letter-spacing:1.5px;
    text-align:center
}
header .nav-item>a:hover,header .nav-item>a:focus{
    color:#f9c938;
    background-color:transparent
}
header .nav-item>.fa{
    color:#fff;
    position:absolute;
    right:0;
    top:33px
}
header .nav-item .nav-item-lv2{
    padding:0 10px
}
header .nav-item .nav-item-lv3{
    padding:0 10px
}
@media (min-width: 992px){
    header .nav-item:hover>.dropdown-menu{
        display:block;
        margin-top:0
    }
}
@media (min-width: 992px) and (min-width: 1025px){
    header .nav-item:hover>.dropdown-menu{
        opacity:1;
        filter:alpha(opacity=100);
        visibility:visible;
        -moz-transition:.3s ease-in;
        -o-transition:.3s ease-in;
        -webkit-transition:.3s ease-in;
        -ms-transition:.3s ease-in;
        transition:.3s ease-in;
        -moz-transform:translateY(0px);
        -o-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -webkit-transform:translateY(0px);
        transform:translateY(0px)
    }
}
@media (min-width: 992px){
    header .nav-item:hover>.mega-content{
        display:block
    }
}
@media (min-width: 992px) and (min-width: 1025px){
    header .nav-item:hover>.mega-content{
        opacity:1;
        filter:alpha(opacity=100);
        visibility:visible;
        -moz-transition:.3s ease-in;
        -o-transition:.3s ease-in;
        -webkit-transition:.3s ease-in;
        -ms-transition:.3s ease-in;
        transition:.3s ease-in;
        -moz-transform:translateY(0px);
        -o-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -webkit-transform:translateY(0px);
        transform:translateY(0px)
    }
}
@media (min-width: 992px){
    header .nav-item:nth-child(4) li.dropdown-submenu,header .nav-item:nth-child(5) li.dropdown-submenu,header .nav-item:nth-child(6) li.dropdown-submenu,header .nav-item:nth-child(7) li.dropdown-submenu{
        position:relative
    }
    header .nav-item:nth-child(4) li.dropdown-submenu .dropdown-menu,header .nav-item:nth-child(5) li.dropdown-submenu .dropdown-menu,header .nav-item:nth-child(6) li.dropdown-submenu .dropdown-menu,header .nav-item:nth-child(7) li.dropdown-submenu .dropdown-menu{
        right:100%;
        top:0;
        left:auto !important
    }
}
@media (min-width: 992px) and (min-width: 992px){
    header .nav-item:nth-child(4) li.dropdown-submenu:hover>.dropdown-menu,header .nav-item:nth-child(5) li.dropdown-submenu:hover>.dropdown-menu,header .nav-item:nth-child(6) li.dropdown-submenu:hover>.dropdown-menu,header .nav-item:nth-child(7) li.dropdown-submenu:hover>.dropdown-menu{
        display:block
    }
}
@media (min-width: 1023px) and (max-width: 1024px){
    header .nav-item:nth-child(4):hover>.dropdown-menu,header .nav-item:nth-child(5):hover>.dropdown-menu,header .nav-item:nth-child(6):hover>.dropdown-menu,header .nav-item:nth-child(7):hover>.dropdown-menu{
        left:-60px
    }
}
header .nav-item li.dropdown-submenu{
    position:relative
}
header .nav-item li.dropdown-submenu .dropdown-menu{
    left:-100%;
    top:0
}
@media (min-width: 992px){
    header .nav-item li.dropdown-submenu:hover>.dropdown-menu{
        display:block
    }
}
header .nav-item.active{
    background-color:transparent
}
header .nav-item.active>a{
    color:#f9c938
}
header .nav-item ul.dropdown-menu{
    padding:0;
    border:none;
    background:#fff none repeat scroll 0 0;
    border-radius:0;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.15);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.15);
    box-shadow:0 0 10px 0 rgba(0,0,0,0.15);
    width:220px;
    font-weight:500;
    top:44px
}
@media (min-width: 1025px){
    header .nav-item ul.dropdown-menu{
        display:block;
        opacity:0;
        filter:alpha(opacity=0);
        visibility:hidden;
        -moz-transition:.2s ease-out;
        -o-transition:.2s ease-out;
        -webkit-transition:.2s ease-out;
        -ms-transition:.2s ease-out;
        transition:.2s ease-out;
        -moz-transform:translateY(20px);
        -o-transform:translateY(20px);
        -ms-transform:translateY(20px);
        -webkit-transform:translateY(20px);
        transform:translateY(20px)
    }
}
header .nav-item ul.dropdown-menu li{
    padding:0;
    border-bottom:1px solid #f7f7f7
}
header .nav-item ul.dropdown-menu li:last-child{
    border-bottom:none
}
header .nav-item ul.dropdown-menu li a{
    padding:10px 5px;
    position:relative;
    padding-right:20px;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    -webkit-transition:all 0.2s;
    transition:all 0.2s;
    color:#1c1c1c
}
header .nav-item ul.dropdown-menu li a i{
    position:absolute;
    right:10px;
    top:50%;
    transform:translate(0, -50%)
}
@media (min-width: 992px){
    header .nav-item ul.dropdown-menu li a:hover,header .nav-item ul.dropdown-menu li a:focus{
        background-color:transparent;
        color:#51aa1b
    }
}
header .nav-item ul.dropdown-menu li.dropdown-submenu .dropdown-menu{
    top:0;
    left:100%
}
@media (min-width: 992px){
    header .nav-item:hover>.dropdown-menu{
        display:block;
        margin-top:0
    }
}
@media (min-width: 992px) and (min-width: 1025px){
    header .nav-item:hover>.dropdown-menu{
        opacity:1;
        filter:alpha(opacity=100);
        visibility:visible;
        -moz-transition:.3s ease-in;
        -o-transition:.3s ease-in;
        -webkit-transition:.3s ease-in;
        -ms-transition:.3s ease-in;
        transition:.3s ease-in;
        -moz-transform:translateY(0px);
        -o-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -webkit-transform:translateY(0px);
        transform:translateY(0px)
    }
}
@media (min-width: 992px){
    header .nav-item:hover>.dropdown-menu .dropdown-submenu:hover .dropdown-menu{
        display:block;
        margin-top:0
    }
}
@media (min-width: 992px) and (min-width: 1025px){
    header .nav-item:hover>.dropdown-menu .dropdown-submenu:hover .dropdown-menu{
        opacity:1;
        filter:alpha(opacity=100);
        visibility:visible;
        -moz-transition:.3s ease-in;
        -o-transition:.3s ease-in;
        -webkit-transition:.3s ease-in;
        -ms-transition:.3s ease-in;
        transition:.3s ease-in;
        -moz-transform:translateY(0px);
        -o-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -webkit-transform:translateY(0px);
        transform:translateY(0px)
    }
}
@media (min-width: 992px){
    header .nav-item:hover>a:before{
        display:block
    }
    header .nav-item.evo-hover-left ul.dropdown-menu li.dropdown-submenu .dropdown-menu{
        top:0;
        left:-100%
    }
}
footer{
    position:relative;
    overflow:hidden
}
footer .footer-info-widget h3{
    font-size:1.28571em;
    color:#333;
    text-transform:uppercase;
    margin-bottom:20px
}
footer .footer-info-widget p{
    color:#cfd2d3;
    font-size:1.14286em
}
footer .footer-info-widget p.hotline{
    font-size:2em;
    color:#fff;
    font-weight:700;
    margin-bottom:15px;
    margin-top:-8px
}
footer .footer-info-widget p.hotline a{
    color:#fff
}
footer .footer-info-widget p.hotline a:hover{
    color:#51aa1b
}
footer .footer-info-widget form{
    position:relative
}
footer .footer-info-widget form input{
    height:50px;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-size:1.14286em
}
footer .footer-info-widget form button{
    position:absolute;
    right:0;
    background:transparent;
    border:none;
    line-height:50px;
    font-size:2.14286em;
    color:#a6a6ad;
    padding-right:10px
}
footer .list-inline .fa{
    color:#fff;
    margin-right:20px;
    font-size:2.14286em
}
footer .list-inline .fa:hover{
    color:#51aa1b
}
footer .site-footer h3,footer .site-footer h4{
    position:relative;
    color:rgba(255,255,255,0.9);
    margin:0;
    padding:13px 0;
    font-size:1.28571em
}
footer .list-menu{
    margin-bottom:15px;
    line-height:1.71429em
}
footer .list-menu a{
    color:#fff
}
footer .list-menu a:hover{
    color:#51aa1b
}
footer .list-menu li{
    color:#fff
}
footer .list-menu.contact .fa{
    width:20px;
    margin-right:5px;
    color:#51aa1b
}
footer .copyright{
    text-align:center;
    color:#fff;
    font-size:1em;
    position:relative;
    font-size:12px
}
footer .copyright a{
    color:#fff
}
footer .copyright a:hover,footer .copyright a:focus{
    color:#51aa1b
}
footer .copyright b{
    font-weight:normal
}
footer .social-icons li{
    margin-right:10px
}
footer .back-to-top{
    position:absolute;
    right:10px;
    bottom:60px;
    font-size:14px;
    cursor:pointer;
    color:#fff;
    top:auto !important;
    height:40px;
    width:40px;
    background-color:#000;
    border:2px solid #fff;
    line-height:36px;
    border-radius:4px;
    font-size:20px;
    transition:all 0.3s ease-out 0s;
    transform:translateY(-120px);
    opacity:0;
    visibility:hidden
}
footer .back-to-top:hover{
    color:#fff;
    background-color:#51aa1b;
    border-color:#408715
}
footer .back-to-top.show{
    position:fixed;
    z-index:999;
    transition:all 0.3s ease-out 0s;
    transform:translateY(0px);
    opacity:1;
    visibility:visible
}
.zoomWrapper{
    width:100% !important;
    height:auto !important
}
.zoomWrapper img{
    position:static !important;
    max-width:100% !important;
    height:auto !important;
    width:auto !important
}
.zoomWrapper img ~ img{
    display:none !important
}
.product-tab .tab-link{
    margin-right:20px
}
.product-tab .tab-link h3{
    margin:10px 0;
    font-size:1.14286em
}
.product-tab .tab-link span{
    font-size:1.14286em
}
.product-tab .tab-link.current h3{
    color:#51aa1b
}
.product-tab .tab-content.current{
    min-height:1px
}
@media (max-width: 480px){
    .product-tab .tab-content.current{
        min-height:20px
    }
}
.view-mode span{
    font-size:0
}
.button-view-mode{
    padding:0;
    margin:0;
    font-size:1.42857em
}
.button-view-mode.active{
    box-shadow:none;
    color:#333
}
.button-view-mode.active a{
    color:#333
}
.sortPagiBar{
    padding-bottom:15px
}
.blog-item{
    overflow:hidden;
    margin-bottom:15px
}
.blog-item .date{
    position:absolute;
    background:#51aa1b;
    text-align:center;
    color:#fff;
    padding:3px 10px;
    z-index:10
}
.blog-item .date span{
    display:block;
    line-height:45px
}
.blog-item .date span ~ span{
    overflow:hidden;
    border-top:1px solid #fff
}
.blog-item-name{
    font-weight:700;
    position:relative;
    font-size:1.14286em;
    margin:0
}
.blog-item-name a{
    color:#333
}
.blog-item-name .fa{
    position:absolute;
    left:0;
    top:9px;
    font-size:11px;
    color:#51aa1b
}
.blog-item-summary{
    font-size:1em;
    margin-bottom:0
}
.blog-item-thumbnail{
    position:relative
}
.list-blogs .blog-item{
    margin-bottom:25px
}
.article-main .article-title{
    font-size:1.71429em;
    line-height:1.92857em;
    margin:15px 0 8px
}
.article-main .postby{
    font-size:1.14286em;
    line-height:1.71429em;
    color:#676767;
    margin-bottom:10px
}
.article-main .article-content{
    font-size:1em
}
.article-main .form-group{
    margin:0;
    padding-top:0;
    padding-bottom:8px
}
#article-comments{
    margin-top:30px
}
#article-comments .article-comment{
    margin-bottom:10px
}
#article-comments .article-comment-user-image{
    margin:0;
    float:left;
    width:50px;
    margin-right:12px
}
#article-comments .article-comment-user-comment{
    padding-left:63px;
    font-size:1em
}
#article-comments .user-name-comment{
    margin:0;
    color:#51aa1b;
    font-size:15px;
    line-height:1
}
#article-comments .article-comment-date-bull{
    padding:5px 0;
    display:block;
    color:#acacac;
    font-size:12px
}
.social-media{
    font-size:1em
}
.social-media label{
    display:inline-block
}
.social-media a{
    margin-right:7px;
    color:#222
}
.social-media a:hover,.social-media a:focus{
    text-decoration:none;
    color:#222
}
.social-media a:hover .fa-facebook-official,.social-media a:focus .fa-facebook-official{
    color:#3b5998
}
.social-media a:hover .fa-twitter,.social-media a:focus .fa-twitter{
    color:#1da1f2
}
.social-media a:hover .fa-pinterest,.social-media a:focus .fa-pinterest{
    color:#bd081c
}
.social-media a:hover .fa-google-plus,.social-media a:focus .fa-google-plus{
    color:#dd4b39
}
.social-media .list-inline li{
    margin-right:20px
}
textarea.form-control{
    border:1px solid #e1e1e1
}
.section-news-2{
    margin-bottom:20px
}
.cart-item{
    background:#fff;
    padding:20px 10px;
    border-bottom:1px solid #e1e1e1
}
.cart-item-image{
    float:left;
    width:120px;
    margin-right:20px
}
.cart-item-info{
    padding-left:140px
}
.cart-item-info h3{
    margin:0;
    font-size:1.28571em;
    font-weight:400
}
.cart-item-info .product-price{
    line-height:50px
}
.cart-item-info input{
    width:95px;
    height:45px;
    border-color:#e1e1e1;
    float:left
}
.cart-item-info .remove-item{
    color:#c6c6c6;
    font-size:38px;
    font-weight:300;
    line-height:47px;
    float:right
}
.cart-item-info .variant{
    color:#adadad
}
.name-product-cart{
    color:#51aa1b
}
.cart .total-price{
    background:#fff;
    padding:25px;
    line-height:45px
}
.delete-cart .title{
    font-size:2.14286em;
    text-align:center;
    padding:30px 10px
}
.delete-cart .btn-50{
    width:calc(50% - 3px)
}
.delete-cart .btn-50 a{
    color:#fff;
    display:block
}
#customer_register{
    margin-bottom:20px
}
#customer_login,#recover_customer_password{
    margin-bottom:0
}
.checkbox.style input{
    margin:0 !important;
    display:none
}
.checkbox.style label{
    display:inline-block;
    vertical-align:middle;
    font-weight:normal;
    text-transform:none;
    position:relative;
    padding-left:55px;
    line-height:50px
}
.checkbox.style label:before{
    display:block;
    width:35px;
    height:35px;
    background:#fff;
    border:1px solid #d4d4d4;
    border-radius:5px;
    content:"";
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -o-transform:translateY(-50%)
}
.checkbox.style input:checked+label:after{
    content:"\f00c";
    font-family:FontAwesome;
    font-size:20px;
    color:#51aa1b;
    position:absolute;
    top:50%;
    left:8px;
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -o-transform:translateY(-50%)
}
.block-account h3{
    margin-top:0
}
.customer-name{
    color:#51aa1b;
    line-height:55px
}
.block-content.form-signup{
    background:#fff;
    padding-top:10px
}
.block-content.form-signup p{
    padding:0;
    display:table
}
.block-content.form-signup p i{
    display:table-cell;
    width:20px;
    text-align:center;
    color:#51aa1b
}
.block-content.form-signup p a{
    color:#51aa1b
}
.address-title{
    padding-left:10px;
    margin-bottom:15px;
    border-radius:0 !important;
    font-weight:300
}
.address-title button{
    background:none;
    border:none;
    font-size:0;
    width:50px;
    height:55px
}
.address-title button.btn-edit{
    background-image:url(//bizweb.dktcdn.net/100/360/151/themes/727143/assets/btn-edit.png?1563957400883);
    background-repeat:no-repeat;
    background-position:center
}
.address-title button.btn-delete{
    background-image:url(//bizweb.dktcdn.net/100/360/151/themes/727143/assets/btn-delete.png?1563957400883);
    background-repeat:no-repeat;
    background-position:center
}
.address-subtitle{
    margin-top:0;
    text-transform:uppercase
}
.address-item-action{
    right:0;
    top:-7px
}
.address-item-action .btn-row{
    padding-right:5px
}
.address-group{
    background:#fff;
    padding-bottom:5px;
    margin-bottom:15px
}
.address-group p{
    color:#595959
}
.address-group p label{
    float:left;
    font-weight:300
}
#order_payment,#order_shipping{
    background:#fff;
    padding:10px 0
}
#order_payment .address.note i,#order_shipping .address.note i{
    color:#51aa1b;
    margin-right:5px
}
.totalorders{
    background:#fff;
    border-color:#e1e1e1
}
.order-headding{
    margin:0
}
.info-contact .widget-menu p{
    display:inline
}
.info-contact .logo{
    font-size:20px
}
.aside-item.collection-category .nav-item{
    position:relative;
    clear:left;
    font-size:1.07143em
}
.aside-item.collection-category .nav-item a{
    font-size:1.07143em
}
.aside-item.collection-category .nav-item .fa{
    position:absolute;
    right:5px;
    top:12px;
    height:20px;
    width:20px;
    line-height:20px;
    text-align:center
}
.aside-item.collection-category .nav-item .dropdown-menu{
    position:static;
    width:100%;
    border:0;
    padding-left:15px;
    box-shadow:none
}
.aside-item.collection-category .nav-item.active>a{
    color:#51aa1b
}
.aside-item.collection-category .nav-item.active>.fa:before{
    content:"\f106"
}
.aside-item.collection-category .nav-item.active>.dropdown-menu{
    display:block
}
.aside-item.collection-category .nav>li>a{
    padding:5px 15px
}
.aside-item .nav>li>a:focus,.aside-item .nav>li>a:hover{
    background:none
}
#start{
    width:100px;
    float:left
}
@media (max-width: 1024px){
    #start{
        width:80px
    }
}
#start input{
    text-align:center;
    border-radius:0px;
    border:1px solid #e1e1e1;
    box-shadow:none;
    outline:none;
    box-shadow:none;
    -webkit-appearance:none;
    -moz-appearance:none
}
#stop{
    width:100px;
    float:left;
    margin-left:30px;
    text-align:center;
    position:relative
}
@media (max-width: 1024px){
    #stop{
        width:80px
    }
}
#stop input{
    text-align:center;
    border-radius:0px;
    border:1px solid #e1e1e1;
    box-shadow:none;
    outline:none;
    box-shadow:none;
    -webkit-appearance:none;
    -moz-appearance:none
}
#stop:before{
    content:"-";
    position:absolute;
    left:-17px;
    font-size:17px
}
a#filter-value{
    height:30px;
    line-height:30px;
    font-weight:400;
    width:100px;
    margin-top:15px;
    background-color:#51aa1b;
    color:#fff;
    border-color:#51aa1b
}
a#filter-value:hover,a#filter-value:focus{
    outline:none;
    box-shadow:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    background-color:#27520d;
    border-color:#27520d
}
div#isp_search_result_page_container .btn-search{
    display:none
}
button.btn.btn-default.btn-search{
    display:none
}
div#isp_search_result_page_container form{
    margin-bottom:0
}
footer .footer-info-widget p.hotline a{
    color:#fff
}
.product-box .sale-flash{
    background-color:#51aa1b
}
.blog-item .date{
    background:#f02b2b
}
.off-canvas-menu .action .btn-primary.btn-50:last-child{
    background:#2bf525
}
.off-canvas-menu .action .btn-primary.btn-50:last-child:hover{
    background:#43f63d
}
.details-product form button.btn-primary2{
    background:#2bf525
}
.details-product form button.btn-primary2:hover{
    background:#43f63d
}
.view-desktop a.btn.btn-primary.btn-full{
    background:#ef7d00
}
.view-desktop a.btn.btn-primary.btn-full:hover{
    background:#ff8a0a
}
.home-slider,.section-blog-sliders{
    overflow:hidden
}
.home-slider .item,.section-blog-sliders .item{
    position:relative
}
.home-slider.owl-carousel .owl-nav .owl-next,.section-blog-sliders.owl-carousel .owl-nav .owl-next{
    right:15px !important;
    background:transparent;
    top:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev,.section-blog-sliders.owl-carousel .owl-nav .owl-prev{
    left:15px !important;
    background:transparent;
    top:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev:before,.home-slider.owl-carousel .owl-nav .owl-next:before,.section-blog-sliders.owl-carousel .owl-nav .owl-prev:before,.section-blog-sliders.owl-carousel .owl-nav .owl-next:before{
    font-size:20px;
    background:#fff;
    border:1px solid #222;
    color:#222;
    height:35px;
    width:35px;
    text-align:center;
    line-height:32px;
    border-radius:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev:hover:before,.home-slider.owl-carousel .owl-nav .owl-next:hover:before,.section-blog-sliders.owl-carousel .owl-nav .owl-prev:hover:before,.section-blog-sliders.owl-carousel .owl-nav .owl-next:hover:before{
    color:#51aa1b;
    border-color:#51aa1b
}
.home-slider.owl-carousel .owl-dots .owl-dot,.section-blog-sliders.owl-carousel .owl-dots .owl-dot{
    height:10px;
    width:10px;
    background-color:#222
}
.home-slider.owl-carousel .owl-dots .owl-dot.active,.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active{
    width:30px;
    height:10px;
    background-color:#51aa1b;
    border-radius:6px
}
@media (max-width: 767px){
    .home-slider.owl-carousel .owl-dots .owl-dot.active,.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active{
        height:6px !important;
        width:6px !important;
        border-radius:50% !important;
        border:1px solid #51aa1b !important
    }
}
@media (max-width: 767px){
    .home-slider.owl-carousel .owl-dots .owl-dot,.section-blog-sliders.owl-carousel .owl-dots .owl-dot{
        height:6px !important;
        width:6px !important;
        border-radius:50% !important;
        border:1px solid #fff !important
    }
}
.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active{
    background-color:#a8a8a8
}
.section_tab_product h2{
    font-size:1.78571em;
    line-height:1.1;
    margin:0 0 20px 0;
    color:#222
}
.section_tab_product .tabs-title{
    margin-bottom:30px;
    border-radius:0px;
    overflow:hidden;
    margin-top:10px
}
.section_tab_product .tabs-title li{
    display:inline-block;
    background:#fff;
    height:20px;
    line-height:20px;
    margin:0 10px;
    font-size:14px;
    text-transform:uppercase;
    position:relative
}
.section_tab_product .tabs-title li.current{
    color:#51aa1b;
    background:#fff
}
.section_tab_product .tabs-title li:hover,.section_tab_product .tabs-title li:focus{
    color:#51aa1b
}
.section_tab_product .tab-content{
    clear:left
}
@media (max-width: 767px){
    .section_tab_product .tabs-title li{
        width:87px
    }
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
    .table-responsive-block table,.table-responsive-block thead,.table-responsive-block tbody,.table-responsive-block th,.table-responsive-block td,.table-responsive-block tr{
        display:block
    }
    .table-responsive-block thead tr{
        position:absolute;
        top:-9999px;
        left:-9999px
    }
    .table-responsive-block tr{
        background:#fff;
        line-height:20px;
        margin-bottom:10px
    }
    .table-responsive-block td{
        border:none;
        position:relative;
        padding-left:40%;
        text-align:right;
        font-weight:700
    }
    .table-responsive-block td.last{
        padding:0;
        line-height:50px
    }
    .table-responsive-block td.last a{
        color:#51aa1b
    }
    .table-responsive-block td:before{
        position:absolute;
        top:13px;
        left:10px;
        width:45%;
        padding-right:10px;
        text-align:left;
        white-space:nowrap;
        font-weight:400
    }
    .table-responsive-block .table-order td:nth-of-type(1):before{
        content:"Đơn hàng"
    }
    .table-responsive-block .table-order td:nth-of-type(2):before{
        content:"Ngày"
    }
    .table-responsive-block .table-order td:nth-of-type(3):before{
        content:"Chuyển đến"
    }
    .table-responsive-block .table-order td:nth-of-type(4):before{
        content:"Địa chỉ"
    }
    .table-responsive-block .table-order td:nth-of-type(5):before{
        content:"Giá trị"
    }
    .table-responsive-block .table-order td:nth-of-type(6):before{
        content:"Tình trạng"
    }
    .table-responsive-block #order_details td:nth-of-type(1):before{
        content:"Sản phẩm"
    }
    .table-responsive-block #order_details td:nth-of-type(2):before{
        content:"Mã sản phẩm"
    }
    .table-responsive-block #order_details td:nth-of-type(3):before{
        content:"Giá"
    }
    .table-responsive-block #order_details td:nth-of-type(4):before{
        content:"Số lượng"
    }
    .table-responsive-block #order_details td:nth-of-type(5):before{
        content:"Tổng"
    }
    .table-responsive-block #order_details td:nth-of-type(6):before{
        content:"Tình trạng"
    }
    .table-responsive-block .totalorders td:nth-of-type(1):before{
        content:"Tạm tính"
    }
    .table-responsive-block .totalorders td:nth-of-type(2):before{
        content:"Phí vận chuyển"
    }
    .table-responsive-block .totalorders td:nth-of-type(3):before{
        content:"Tổng tiền"
    }
    .table-responsive-block .totalorders td:nth-of-type(4):before{
        content:"Số lượng"
    }
    .table-responsive-block .totalorders td:nth-of-type(5):before{
        content:"Tổng"
    }
    .table-responsive-block .totalorders td:nth-of-type(6):before{
        content:"Tình trạng"
    }
}
@media (max-width: 543px){
    section.sidebar.left-content.col-lg-12{
        padding:0
    }
}
@media (max-width: 1199px){
    header nav .mega-content{
        width:940px
    }
    header nav .mega-content .level1.item{
        text-align:left
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .search.f-right{
        margin-right:50px
    }
}
@media (max-width: 767px){
    header>.container{
        position:relative
    }
    header .logo a{
        display:block;
        text-align:center;
        width:100%
    }
    header nav .nav-item{
        display:block;
        width:100%;
        text-align:left;
        margin:0
    }
    header nav .nav-item .dropdown-menu{
        display:none !important;
        position:static;
        border:none
    }
    header nav .nav-item.open a{
        background:none !important
    }
    header nav .nav-item.open>.dropdown-menu{
        display:block !important;
        margin:0;
        padding:0
    }
    header nav li.menu-line{
        display:none;
        border:none
    }
    header nav .nav-item>a{
        line-height:20px;
        padding:5px 15px 3px
    }
    header nav #nav-mobile .nav-item>.dropdown-menu{
        padding:0 0 0 15px;
        position:static;
        width:100%;
        float:none;
        border:none;
        padding-right:7px
    }
    header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu{
        display:block !important
    }
    .header-main{
        padding:10px 0
    }
    #nav{
        padding-right:0;
        display:none;
        padding-right:0;
        padding:10px 0;
        border:1px solid #ebebeb;
        margin-bottom:15px
    }
    #nav.open{
        display:block
    }
    #nav .nav-link>.fa{
        float:right;
        line-height:22px;
        margin-right:-15px;
        width:40px;
        text-align:center;
        transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -moz-transform:translateY(-5px)
    }
}
@media (max-width: 543px){
    .topbar .a-left{
        display:none
    }
    .topbar ul.list-inline.f-right{
        float:left !important
    }
    .search.f-right{
        float:none;
        width:100%
    }
}
@media (max-width: 420px){
    .col-xs-6.footer-header{
        width:100%
    }
}
@media (max-width: 430px){
    .collection p.title-head-info{
        position:static
    }
    .collection h1.title-head{
        margin-bottom:5px
    }
}
@media (max-width: 480px){
    .product-tab .tab-link{
        margin-right:10px
    }
}
@media (max-width: 375px){
    .sodiachi .btn.btn-50{
        width:100%;
        margin-bottom:10px
    }
}
@media (max-width: 768px){
    .quick-view{
        display:none !important
    }
}
.home-slider,.section-blog-sliders{
    overflow:hidden
}
.home-slider .item,.section-blog-sliders .item{
    position:relative
}
.home-slider.owl-carousel .owl-nav .owl-next,.section-blog-sliders.owl-carousel .owl-nav .owl-next{
    right:15px !important;
    background:transparent;
    top:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev,.section-blog-sliders.owl-carousel .owl-nav .owl-prev{
    left:15px !important;
    background:transparent;
    top:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev:before,.home-slider.owl-carousel .owl-nav .owl-next:before,.section-blog-sliders.owl-carousel .owl-nav .owl-prev:before,.section-blog-sliders.owl-carousel .owl-nav .owl-next:before{
    font-size:20px;
    background:#fff;
    border:1px solid #222;
    color:#222;
    height:35px;
    width:35px;
    text-align:center;
    line-height:32px;
    border-radius:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev:hover:before,.home-slider.owl-carousel .owl-nav .owl-next:hover:before,.section-blog-sliders.owl-carousel .owl-nav .owl-prev:hover:before,.section-blog-sliders.owl-carousel .owl-nav .owl-next:hover:before{
    color:#51aa1b;
    border-color:#51aa1b
}
.home-slider.owl-carousel .owl-dots .owl-dot,.section-blog-sliders.owl-carousel .owl-dots .owl-dot{
    height:10px;
    width:10px;
    background-color:rgba(0,0,0,0.2)
}
.home-slider.owl-carousel .owl-dots .owl-dot.active,.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active{
    width:30px;
    height:10px;
    background-color:#51aa1b;
    border-radius:6px
}
.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active{
    background-color:#a8a8a8
}
.section_tab_product h2{
    font-size:1.78571em;
    line-height:1.1;
    margin:0 0 20px 0;
    color:#222
}
.section_tab_product .tabs-title{
    margin-bottom:30px;
    border-radius:0px;
    overflow:hidden;
    margin-top:10px
}
.section_tab_product .tabs-title li{
    display:inline-block;
    background:#fff;
    height:20px;
    line-height:20px;
    margin:0 10px;
    font-size:14px;
    text-transform:uppercase;
    position:relative;
    color:#8c8c8c
}
.section_tab_product .tabs-title li.current{
    color:#333;
    background:#fff
}
.section_tab_product .tabs-title li:hover,.section_tab_product .tabs-title li:focus{
    color:#333
}
.section_tab_product .tab-content{
    clear:left
}
@media (max-width: 767px){
    .section_tab_product .tabs-title li{
        width:87px
    }
}
@media (max-width: 543px){
    section.sidebar.left-content.col-lg-12{
        padding:0
    }
}
@media (max-width: 1199px){
    header nav .mega-content{
        width:940px
    }
    header nav .mega-content .level1.item{
        text-align:left
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .search.f-right{
        margin-right:50px
    }
}
@media (max-width: 991px){
    header>.container{
        position:relative
    }
    header .logo a{
        display:block;
        text-align:center;
        width:100%
    }
    header nav .nav-item{
        display:block;
        width:100%;
        text-align:left;
        margin:0
    }
    header nav .nav-item .dropdown-menu{
        display:none !important;
        position:static;
        border:none
    }
    header nav .nav-item.open a{
        background:none !important
    }
    header nav .nav-item.open>.dropdown-menu{
        display:block !important;
        margin:0;
        padding:0
    }
    header nav li.menu-line{
        display:none;
        border:none
    }
    header nav .nav-item>a{
        line-height:20px;
        padding:5px 15px 3px
    }
    header nav #nav-mobile .nav-item>.dropdown-menu{
        padding:0 0 0 15px;
        position:static;
        width:100%;
        float:none;
        border:none;
        padding-right:7px
    }
    header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu{
        display:block !important
    }
    .header-main{
        padding:10px 0
    }
    #nav{
        padding-right:0;
        display:none;
        padding-right:0;
        padding:10px 0;
        border:1px solid #ebebeb;
        margin-bottom:15px
    }
    #nav.open{
        display:block
    }
    #nav .nav-link>.fa{
        float:right;
        line-height:22px;
        margin-right:-15px;
        width:40px;
        text-align:center;
        transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -moz-transform:translateY(-5px)
    }
}
@media (max-width: 543px){
    .topbar .a-left{
        display:none
    }
    .topbar ul.list-inline.f-right{
        float:left !important
    }
    .search.f-right{
        float:none;
        width:100%
    }
}
@media (max-width: 420px){
    .col-xs-6.footer-header{
        width:100%
    }
}
@media (max-width: 430px){
    .collection p.title-head-info{
        position:static
    }
    .collection h1.title-head{
        margin-bottom:5px
    }
}
@media (max-width: 480px){
    .product-tab .tab-link{
        margin-right:10px
    }
}
@media (max-width: 375px){
    .sodiachi .btn.btn-50{
        width:100%;
        margin-bottom:10px
    }
}
@media (max-width: 768px){
    .quick-view{
        display:none !important
    }
}
.section_tab_product h2{
    font-size:1.78571em;
    line-height:1.1;
    margin:0 0 20px 0;
    color:#222
}
.section_tab_product .tabs-title{
    margin-bottom:30px;
    border-radius:0px;
    overflow:hidden;
    margin-top:10px
}
.section_tab_product .tabs-title li{
    display:inline-block;
    background:#fff;
    height:20px;
    line-height:20px;
    margin:0 10px;
    font-size:14px;
    text-transform:uppercase;
    position:relative;
    color:#8c8c8c
}
.section_tab_product .tabs-title li.current{
    color:#333;
    background:#fff
}
.section_tab_product .tabs-title li:hover,.section_tab_product .tabs-title li:focus{
    color:#333
}
.section_tab_product .tab-content{
    clear:left
}
@media (max-width: 543px){
    section.sidebar.left-content.col-lg-12{
        padding:0
    }
}
@media (max-width: 1199px){
    header nav .mega-content{
        width:100%
    }
    header nav .mega-content .level1.item{
        text-align:left
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .search.f-right{
        margin-right:50px
    }
}
@media (max-width: 991px){
    header>.container{
        position:relative
    }
    .menu-bar.hidden-md.hidden-lg{
        position:absolute;
        top:40px;
        right:15px;
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        z-index:1000
    }
    header .logo a{
        display:inline-block;
        text-align:left
    }
    header nav .nav-item{
        display:block;
        width:100%;
        text-align:left;
        margin:0
    }
    header nav .nav-item .dropdown-menu{
        display:none !important;
        position:static;
        border:none
    }
    header nav .nav-item.open a{
        background:none !important
    }
    header nav .nav-item.open>.dropdown-menu{
        display:block !important;
        margin:0;
        padding:0
    }
    header nav li.menu-line{
        display:none;
        border:none
    }
    header nav .nav-item>a{
        line-height:20px;
        padding:5px 15px 3px
    }
    header nav #nav-mobile .nav-item>.dropdown-menu{
        padding:0 0 0 15px;
        position:static;
        width:100%;
        float:none;
        border:none;
        padding-right:7px
    }
    header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu{
        display:block !important
    }
    .header-main{
        padding:10px 0
    }
    #nav{
        padding-right:0;
        display:none;
        padding-right:0;
        padding:10px 0;
        border:1px solid #ebebeb;
        margin-bottom:15px
    }
    #nav.open{
        display:block
    }
    #nav .nav-link>.fa{
        float:right;
        line-height:22px;
        margin-right:-15px;
        width:40px;
        text-align:center;
        transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -moz-transform:translateY(-5px)
    }
}
@media (max-width: 543px){
    .topbar .a-left{
        display:none
    }
    .topbar ul.list-inline.f-right{
        float:left !important
    }
    .search.f-right{
        float:none;
        width:100%
    }
}
@media (max-width: 420px){
    .col-xs-6.footer-header{
        width:100%
    }
}
@media (max-width: 430px){
    .collection p.title-head-info{
        position:static
    }
    .collection h1.title-head{
        margin-bottom:5px
    }
}
@media (max-width: 480px){
    .product-tab .tab-link{
        margin-right:10px
    }
}
@media (max-width: 375px){
    .sodiachi .btn.btn-50{
        width:100%;
        margin-bottom:10px
    }
}
@media (max-width: 768px){
    .quick-view{
        display:none !important
    }
}
.home-slider{
    overflow:hidden
}
.home-slider .item{
    position:relative
}
.home-slider.owl-carousel .owl-nav .owl-next{
    right:15px !important;
    background:transparent;
    top:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev{
    left:15px !important;
    background:transparent;
    top:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev:before,.home-slider.owl-carousel .owl-nav .owl-next:before{
    font-size:84px;
    background:transparent
}
.section_tab_product h2{
    font-size:1.71429em;
    text-transform:uppercase;
    line-height:1;
    margin:0 0 20px 0
}
.section_tab_product .tabs-title{
    margin-bottom:30px;
    border-radius:5px;
    overflow:hidden
}
.section_tab_product .tabs-title li{
    width:140px;
    display:inline-block;
    background:#dadbdb;
    height:40px;
    line-height:40px;
    margin-right:1px
}
.section_tab_product .tabs-title li.current{
    color:#fff;
    background:#898989
}
.section_tab_product .tab-content{
    clear:left
}
@media (min-width: 1200px){
    .section_tab_product .tab-content .products .col-lg-3:nth-child(4n+1){
        clear:left
    }
}
@media (max-width: 1199px) and (min-width: 768px){
    .section_tab_product .products .col-sm-4:nth-child(3n+1){
        clear:left
    }
}
@media (max-width: 767px){
    .section_tab_product .tabs-title li{
        width:87px
    }
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
    .table-responsive-block table,.table-responsive-block thead,.table-responsive-block tbody,.table-responsive-block th,.table-responsive-block td,.table-responsive-block tr{
        display:block
    }
    .table-responsive-block thead tr{
        position:absolute;
        top:-9999px;
        left:-9999px
    }
    .table-responsive-block tr{
        background:#fff;
        line-height:20px;
        margin-bottom:10px
    }
    .table-responsive-block td{
        border:none;
        position:relative;
        padding-left:40%;
        text-align:right;
        font-weight:700
    }
    .table-responsive-block td.last{
        padding:0;
        line-height:50px
    }
    .table-responsive-block td.last a{
        color:#51aa1b
    }
    .table-responsive-block td:before{
        position:absolute;
        top:13px;
        left:10px;
        width:45%;
        padding-right:10px;
        text-align:left;
        white-space:nowrap;
        font-weight:400
    }
    .table-responsive-block .table-order td:nth-of-type(1):before{
        content:"Đơn hàng"
    }
    .table-responsive-block .table-order td:nth-of-type(2):before{
        content:"Ngày"
    }
    .table-responsive-block .table-order td:nth-of-type(3):before{
        content:"Chuyển đến"
    }
    .table-responsive-block .table-order td:nth-of-type(4):before{
        content:"Địa chỉ"
    }
    .table-responsive-block .table-order td:nth-of-type(5):before{
        content:"Giá trị"
    }
    .table-responsive-block .table-order td:nth-of-type(6):before{
        content:"Tình trạng"
    }
    .table-responsive-block #order_details td:nth-of-type(1):before{
        content:"Sản phẩm"
    }
    .table-responsive-block #order_details td:nth-of-type(2):before{
        content:"Mã sản phẩm"
    }
    .table-responsive-block #order_details td:nth-of-type(3):before{
        content:"Giá"
    }
    .table-responsive-block #order_details td:nth-of-type(4):before{
        content:"Số lượng"
    }
    .table-responsive-block #order_details td:nth-of-type(5):before{
        content:"Tổng"
    }
    .table-responsive-block #order_details td:nth-of-type(6):before{
        content:"Tình trạng"
    }
    .table-responsive-block .totalorders td:nth-of-type(1):before{
        content:"Tạm tính"
    }
    .table-responsive-block .totalorders td:nth-of-type(2):before{
        content:"Phí vận chuyển"
    }
    .table-responsive-block .totalorders td:nth-of-type(3):before{
        content:"Tổng tiền"
    }
    .table-responsive-block .totalorders td:nth-of-type(4):before{
        content:"Số lượng"
    }
    .table-responsive-block .totalorders td:nth-of-type(5):before{
        content:"Tổng"
    }
    .table-responsive-block .totalorders td:nth-of-type(6):before{
        content:"Tình trạng"
    }
}
@media (max-width: 543px){
    section.sidebar.left-content.col-lg-12{
        padding:0
    }
}
@media (max-width: 1199px){
    header nav .mega-content{
        width:940px
    }
    header nav .mega-content .level1.item{
        text-align:left
    }
}
@media (max-width: 1024px){
    header nav .mega-content{
        width:100%
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .search.f-right{
        margin-right:50px
    }
}
@media (max-width: 991px){
    header>.container{
        position:relative
    }
    .menu-bar.hidden-md.hidden-lg{
        position:absolute;
        top:40px;
        right:15px;
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        z-index:1000
    }
    header .logo a{
        display:inline-block;
        text-align:left
    }
    header nav .nav-item{
        display:block;
        width:100%;
        text-align:left;
        margin:0
    }
    header nav .nav-item .dropdown-menu{
        display:none !important;
        position:static;
        border:none
    }
    header nav .nav-item.open a{
        background:none !important
    }
    header nav .nav-item.open>.dropdown-menu{
        display:block !important;
        margin:0;
        padding:0
    }
    header nav li.menu-line{
        display:none;
        border:none
    }
    header nav .nav-item>a{
        line-height:20px;
        padding:5px 15px 3px
    }
    header nav #nav-mobile .nav-item>.dropdown-menu{
        padding:0 0 0 15px;
        position:static;
        width:100%;
        float:none;
        border:none;
        padding-right:7px
    }
    header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu{
        display:block !important
    }
    .header-main{
        padding:10px 0
    }
    #nav{
        padding-right:0;
        display:none;
        padding-right:0;
        padding:10px 0;
        border:1px solid #ebebeb;
        margin-bottom:15px
    }
    #nav.open{
        display:block
    }
    #nav .nav-link>.fa{
        float:right;
        line-height:22px;
        margin-right:-15px;
        width:40px;
        text-align:center;
        transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -moz-transform:translateY(-5px)
    }
}
@media (max-width: 543px){
    .topbar .a-left{
        display:none
    }
    .topbar ul.list-inline.f-right{
        float:left !important
    }
    .logo{
        display:block
    }
    .search.f-right{
        float:none;
        width:100%
    }
}
@media (max-width: 420px){
    .col-xs-6.footer-header{
        width:100%
    }
}
@media (max-width: 543px){
    .product-box .product-thumbnail>a{
        max-height:1000px;
        height:auto
    }
}
@media (max-width: 430px){
    .collection p.title-head-info{
        position:static
    }
    .collection h1.title-head{
        margin-bottom:5px
    }
}
@media (max-width: 480px){
    .product-tab .tab-link{
        margin-right:10px
    }
}
 