<template>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Thêm mới sản phẩm</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Sản phẩm</a>
            </li>
            <li class="breadcrumb-item active" aria-current="p  age">Thêm mới</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label>Tên sản phẩm</label>
                <vs-input
                  type="text"
                  size="default"
                  placeholder="Tên sản phẩm"
                  class="w-100"
                  v-model="objData.name"
                  :class="{ 'is-invalid': submitted && $v.objData.name.$error }"
                />
                <div v-if="submitted && !$v.objData.name.required" class="noti-err">Tên không để trống</div>
              </div>
              <div class="form-group">
                <label>Nội dung</label>
                <TinyMce v-model="objData.content" :class="{ 'is-invalid': submitted && $v.objData.content.$error }" />
                <div v-if="submitted && !$v.objData.content.required" class="noti-err">Nội dung không để trống</div>
              </div>
              <div class="form-group">
                <label>Mô tả ngắn</label>
                <TinyMce v-model="objData.description" :class="{ 'is-invalid': submitted && $v.objData.description.$error }" />
                <div v-if="submitted && !$v.objData.description.required" class="noti-err">Nội dung không để trống</div>
              </div>
              <div class="form-group">
                <label>Ảnh sản phẩm</label>
                <ImageMulti v-model="objData.images" :class="{ 'is-invalid': submitted && $v.objData.images.$error }" />
                <div v-if="submitted && !$v.objData.images.required" class="noti-err">Chọn tối thiểu 1 ảnh</div>
              </div>
              <div class="form-group">
                <label>Giá Sản phẩm</label>
                <vs-input
                  type="text"
                  size="default"
                   icon="all_inclusive"
                  placeholder="100.000"
                  class="w-100"
                  v-model="objData.price"
                />
              </div>
              <div class="form-group">
                <label>Số lượng</label>
                <vs-input
                  type="text"
                  size="default"
                   icon="done_all"
                  placeholder="10"
                  class="w-100"
                  v-model="objData.qty"
                />
              </div>
              <div class="form-group">
                <label>Giảm giá(%)</label>
                <vs-input-number v-model="objData.discount"/>
              </div>
              <vs-button color="primary" @click="saveProducts">Thêm mới</vs-button>
            </div>
          </div>
          
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label>Trạng thái</label>
                <vs-switch v-model="objData.status">
                  <span slot="on">Hiện</span>
                  <span slot="off">Ẩn</span>
                </vs-switch>
              </div>
              <div class="form-group">
                <label>Danh muc</label>
                <vs-select class="selectExample" v-model="objData.category" placeholder="Danh mục">
                  <vs-select-item
                    :value="item.id"
                    :text="item.name"
                    v-for="(item,index) in cate"
                    :key="'f'+index"
                  />
                </vs-select>
                <div v-if="submitted && !$v.objData.category.required" class="noti-err">Chọn tối thiểu 1 ảnh</div>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
</template>


<script>
import { mapActions } from "vuex";
import TinyMce from "../_common/tinymce";
import ImageMulti from "../_common/upload_image_multi";
import { required } from "vuelidate/lib/validators";
export default {
  name: "product",
  data() {
    return {
      submitted: false,
      cate:[],
      objData: {
        lang:"",
        name: "",
        code: "",
        price: "",
        images: [],
        qty: "",
        description: "",
        content: "",
        category: "",
        discount: 0,
        status: 0
      },
    };
  },
  validations: {
    objData: {
      name: { required },
      images: { required },
      description: { required },
      content: { required },
      category: { required },
    }
  },
  components: {
    TinyMce,
    ImageMulti
  },
  computed: {},
  watch: {},
  methods: {
    ...mapActions(["editId", "saveProduct", "listCate", "loadings","listLanguage"]),
    saveProducts(){
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }else{
        this.loadings(true);

        this.saveProduct(this.objData)
          .then(response => {
            this.loadings(false);
            this.$router.push({name:'listProduct'});
            this.$success('Thêm sản phẩm thành công');
            this.$route.push({name:'listProduct'});
          })
          .catch(error => {
            this.loadings(false);
            // this.$vs.notify({
            //   title: "Thất bại",
            //   text: "Thất bại",
            //   color: "danger",
            //   position: "top-right"
            // });
          });
      }
    }
  },
  mounted() {
    this.loadings(true);
    this.listCate()
        .then(response => {
          this.loadings(false);
          this.cate = response.data;
        });
  }
};
</script>