<template>
  <div class="container-scroller">
    <Spiner></Spiner>
    <div v-if="!loggedIn">
      <div v-if="$route.path == '/register' ">
        <Register />
      </div>
      <div v-if="$route.path == '/login' ">
        <Login />
      </div>
    </div>
    <div v-else>
      <!-- partial:partials/_navbar.html -->
      <Navbar />
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <SideBar />
        <!-- partial -->
        <router-view></router-view>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </div>
</template>

<style>
/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
} */
</style>

<script>
import { mapState, mapActions } from "vuex";
import Login from "./auth/login";
import Register from "./auth/register";
import SideBar from "./layouts/sidebar";
import Spiner from "./layouts/cube.vue";
import Navbar from "./layouts/navbar.vue";
import Echo from 'laravel-echo'
import Pusher from 'pusher-js'
export default {
  computed: {
    // ...mapState(["loading"]),
    loggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  components: {
    Spiner,
    Login,
    SideBar,
    Navbar,
    Register
  },
  methods:{
    
  },
  mounted() {
    
  }
};
</script>