<template>
    <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src="../../assets/set.png" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"></h4>
                    <h3 class="mb-5">Cấu hình cửa hàng</h3>
                    <h6 class="card-text">
                      <router-link :to="{name:'setting'}"><vs-button color="dark" type="border">Sửa cấu hình</vs-button></router-link>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="../../assets/intro_add_product_img.png" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"></h4>
                    <h3 class="mb-5">Thêm sản phẩm</h3>
                    <h6 class="card-text">
                      <router-link :to="{name:'createProduct'}"><vs-button color="dark" type="border">Thêm sản phẩm</vs-button></router-link>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    <img src="../../assets/intro_order_image.png" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"></h4>
                    <h3 class="mb-5">Sẵn sàng bán hàng</h3>
                    <h6 class="card-text">
                        <router-link :to="{name:'billAdd'}"><vs-button color="dark" type="border">Tạo đơn hàng</vs-button></router-link>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="clearfix">
                      <h4 class="card-title float-left">Doanh thu</h4>
                      <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                    </div>
                    <el-date-picker
                      v-model="dateSearch"
                      type="daterange"
                      unlink-panels
                      range-separator="-"
                      start-placeholder="Ngày bắt đầu"
                      end-placeholder="Ngày kết thúc"
                      :picker-options="pickerOptions"
                      value-format="yyyy-MM-dd"
                      @change="defaultDate()"
                      >
                    </el-date-picker>
                    <!-- <line-chart :moneyForChar="moneyForChart" :dayForChart="dayForChart" ></line-chart> -->
                    <fusioncharts
                    :type="type"
                    :width="width"
                    :height="height"
                    :dataFormat="dataFormat"
                    :dataSource="dataSource"
                    ></fusioncharts>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Traffic Sources</h4>
                    <canvas id="traffic-chart"></canvas>
                    <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
</template>


<script>
import LineChart from '../mixin/chart.js'
import VueFusionCharts from 'vue-fusioncharts';
import FusionCharts from 'fusioncharts';
import {mapActions} from 'vuex'
const myDataSource = {
  chart: {
    caption: 'Recommended Portfolio Split',
    subCaption: 'For a net-worth of $1M',
    showValues: '1',
    showPercentInTooltip: '0',
    numberPrefix: '$',
    enableMultiSlicing: '1',
    theme: 'fusion'
  },
  data: [
    {
      label: 'Equity',
      value: '300000'
    },
    {
      label: 'Debt',
      value: '230000'
    },
    {
      label: 'Bullion',
      value: '180000'
    },
    {
      label: 'Real-estate',
      value: '270000'
    },
    {
      label: 'Insurance',
      value: '20000'
    }
  ]
};
export default {
    data () {
      return {
        datacollection: null,
        type: 'column2d',
        width: '500',
        height: '300',
        dataFormat: 'json',
        dataSource: myDataSource,
        dateSearch:'',
        dateRequest:{
          dateStart:'',
          dateEnd:'',
        },
        moneyForChart:[],
        dayForChart:[],
        pickerOptions: {
          shortcuts: [{
            text: '1 tuần trước',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '1 tháng trước',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '3 tháng trước',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
      }
    },
    components: {
      LineChart, FusionCharts
    },
    mounted () {
      console.log(1);
      this.getChartJs();
    },
    methods: {
      ...mapActions(['getDataChart']),
      getChartJs(){
        this.getDataChart(this.dateRequest).then(response => {
          this.moneyForChart = response.monney;
          this.dayForChart = response.day;
        }).catch(error => {
          this.$error('Hiển thị biểu đồ thất bại!');
        })
      },
      defaultDate(){
        this.dateRequest.dateStart = this.dateSearch[0];
        this.dateRequest.dateEnd = this.dateSearch[1];
        this.getChartJs();
      }
    }


}
</script>