<template>

</template>
<script>
import VueChartJs from 'vue-chartjs'
import { Bar, Line } from 'vue-chartjs'

export default {
    extends: VueChartJs.Line,
    data(){
        return {}
    },
    // props: ['data', 'options'],
    methods:{

    },
    mounted () {
    this.renderChart({
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [
        {
          label: 'Data One',
          backgroundColor: '#f87979',
          data: [40, 39, 10, 40, 39, 80, 40]
        }
      ]
    }, {responsive: true, maintainAspectRatio: false})
  }

}
</script> 