<template>
  <div>
    <!-- 多图片上传 -->
    <el-upload
      v-if="multiple"
      action="'/upload'"
      name="img"
      list-type="picture-card"
      :on-preview="handlePreview"
      :auto-upload="true"
      :on-remove="handleRemove"
      :http-request="request"
      :file-list="uploadList"
    >
      <i class="el-icon-plus"></i>
    </el-upload>

    <el-dialog :visible.sync="dialogVisible">
      <img width="100%" :src="dialogImageUrl" alt />
    </el-dialog>
  </div>
</template>
<script>
import axios from "axios";
import config from "../../../config";
import imageCompression from "browser-image-compression";
export default {
  name: "uploader",
  props: {
    targetUrl: {
      // 上传地址
      type: String,
      default: "api/upload-image"
    },
    multiple: {
      // 多图开关
      type: Boolean,
      default: true
    },
    value: {
      // 初始图片链接
      default: ""
    }
  },
  data() {
    return {
      file: "",
      dialogImageUrl: "",
      uploadList: [],
      reupload: true,
      dialogVisible: false
    };
  },
  watch: {
    value: function(val) {
      if (val) {
        if (typeof this.value.length === 0) {
          this.uploadList = Array;
        } else {
          this.uploadList = this.formatImgArr(val);
        }
      }
    }
  },
  mounted() {
    if (typeof this.value.length === 0) {
      this.uploadList = Array;
    } else {
      this.uploadList = this.formatImgArr(this.value);
    }
  },
  methods: {
    /** **************************** multiple多图情况 **************************************/
    handlePreview(file) {
      // 点击进行图片展示
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    handleRemove(file, fileList) {
      // 删除图片后更新图片文件列表并通知父级变化
      this.uploadList = fileList;
      this.$emit("input", this.formatImgArr(this.uploadList));
    },
    request(req) {
      const options = {
        maxSizeMB: Number.POSITIVE_INFINITY,
        maxWidthOrHeight: this.maxWidthHeight,
        useWebWorker: true,
        maxIteration: 10
      };
      imageCompression(req.file, options).then(res => {
        this.loading = true;
        var xhr, formData;
        xhr = new XMLHttpRequest();
        xhr.withCredentials = false;
        xhr.open("POST", __ENV__.link + "api/upload-image");
        xhr.onload = () => {
          var json;
          if (xhr.status != 200) {
            this.$notify.error({
              message: "HTTP Error: " + xhr.status,
              type: "success"
            });
            this.loading = false;
            return;
          }

          if (this.multiple) {
            json = JSON.parse(xhr.responseText);
            
            this.uploadList.push({
              url: json.path,
              uid: "111"
            });
            console.log(json.path)
            this.$emit("input", this.formatImgArr(this.uploadList));
          } else {
            this.$emit("input", currentPic);
          }
        };
        formData = new FormData();
        formData.append("img", res, req.file.name);
        xhr.send(formData);
      });
    },
    formatImgArr(arr) {
      const result = arr.map((item, index) => {
        if (typeof item === "string") {
          return {
            url: item,
            uid: `index${index}`
          };
        } else {
          return item.url;
        }
      });
      return result;
    },
    beforeClose(done) {
      this.uploadList.pop();
    }
  },
  components: {}
};
</script>
<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  color: #8c939d;
  text-align: center;
}
.avatar {
  display: block;
}
.reupload {
  border-radius: 50%;
  position: absolute;
  color: #fff;
  background-color: #000000;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#uploadIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
</style>

作者：故里有长安
链接：https://juejin.im/post/5b3f14c2f265da0f5405080f
来源：掘金
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。